<div class="flex items-center" mat-dialog-title>
  <h2 class="title m-0 flex-auto">Reset Password</h2>
  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>
<mat-divider class="text-border"></mat-divider>
<mat-dialog-content class="flex flex-col">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
    <span fxFlex="5">
      <mat-icon svgIcon="mat:info"></mat-icon>
    </span>
    <p fxFlex>Assign a temporary password and provide it to the user. Make sure you remember it before clicking submit button.</p>
  </div>
  <div class="px-6 py-4 flex flex-col">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <form [formGroup]="form" class="flex flex-col flex-auto form-container">
        <div class="flex flex-col sm:flex-row sm:gap-4">
          <mat-form-field appearance="fill" class="flex-auto">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row sm:gap-4">
          <mat-form-field appearance="fill" class="flex-auto">
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="fullName">
          </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row sm:gap-4">
          <mat-form-field class="flex-1">
            <mat-label>Password</mat-label>
            <input [type]="inputType" formControlName="password" autocomplete="off" matInput required>
            <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
              <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
              <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
            </button>
            <button mat-icon-button matSuffix matTooltip="Generate Password" type="button" (click)="generatePassword()">
              <mat-icon svgIcon="mat:lock_reset"></mat-icon>
            </button>
            <mat-hint>Click the eye icon to toggle visibility</mat-hint>
            <mat-error *ngIf="form.get('password').hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px" [style.marginTop.px]="20">
          <button color="primary" mat-raised-button type="button" (click)="resetPassword()">
            <mat-icon svgIcon="mat:archive"></mat-icon>
            <span>Submit</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button cdkFocusInitial color="primary" mat-button mat-dialog-close type="button">Close</button>
</mat-dialog-actions>
