<vex-secondary-toolbar current="Edit Cost Center">
  <vex-breadcrumbs [crumbs]="['System Management', 'Cost Centers', 'Edit Cost Center']" class="flex-auto"></vex-breadcrumbs>
  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon svgIcon="mat:more_vert"></mat-icon>
  </button>
</vex-secondary-toolbar>
<div class="p-gutter container" [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'">
  <div class="flex flex-col sm:flex-row gap-4">
    <div class="card flex-auto">
      <div class="px-6 py-4 border-b flex items-center gap-2">
        <button [ngClass]="[form.invalid ? '!bg-gray' : '!bg-green', '!text-contrast-white']" mat-raised-button type="button" 
          [disabled]="form.invalid" (click)="save()">
          <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:archive"></mat-icon> Save
        </button>
        <button color="primary" mat-stroked-button type="button" [routerLink]="['/apps/cost-centers']">
          <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:close"></mat-icon> Close
        </button>
      </div>
      <div class="px-6 py-4 flex flex-col">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <form [formGroup]="form" class="flex flex-col flex-auto form-container">
            <div class="flex flex-col sm:flex-row sm:gap-4">
              <mat-form-field appearance="fill" class="flex-auto">
                <mat-label>FG Code</mat-label>
                <input matInput formControlName="fgCode" required>
                <mat-error *ngIf="formControls.fgCode.touched && formControls.fgCode.invalid">
                  <span *ngIf="formControls.fgCode.getError('required')">
                    FG Code is required
                  </span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="flex flex-col sm:flex-row sm:gap-4">
              <mat-form-field appearance="fill" class="flex-auto">
                <mat-label>Number</mat-label>
                <input matInput formControlName="number" required type="number">
                <mat-error *ngIf="formControls.number.touched && formControls.number.invalid">
                  <span *ngIf="formControls.number.getError('required')">
                    Number is required
                  </span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="flex flex-col sm:flex-row sm:gap-4">
              <mat-form-field appearance="fill" class="flex-auto">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
                <mat-error *ngIf="formControls.name.touched && formControls.name.invalid">
                  <span *ngIf="formControls.name.getError('required')">
                    Name is required
                  </span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="flex flex-col sm:flex-row sm:gap-4">
              <mat-form-field appearance="fill" class="flex-auto">
                <mat-label>Short Name</mat-label>
                <input matInput formControlName="shortName" required>
                <mat-error *ngIf="formControls.shortName.touched && formControls.shortName.invalid">
                  <span *ngIf="formControls.shortName.getError('required')">
                    Short Name is required
                  </span>
                </mat-error>
              </mat-form-field>
            </div>
            <blockquote fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" [style.marginTop.px]="30">
              <span fxFlex>
                <strong>Created By</strong>: {{ createdBy }}
              </span>
              <span fxFlex>
                <strong>Date Created</strong>: {{ createdAt | date: 'MM/dd/yyyy hh:mm a' }}
              </span>
              <span fxFlex>
                <strong>Modified By</strong>: {{ updatedBy }}
              </span>
              <span fxFlex>
                <strong>Date Modified</strong>: {{ updatedAt ? (updatedAt | date: 'MM/dd/yyyy hh:mm a') : 'N/A' }}
              </span>
            </blockquote>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
