<vex-secondary-toolbar [current]="isEditMode ? 'Edit Transmission Profile' : 'Add Transmission Profile'">
    <vex-breadcrumbs
      [crumbs]="['Profile Management', 'Transmission Line Profile', isEditMode ? 'Edit Transmission Line Profile' : 'Add Transmission Line Profile']"
      class="flex-auto"></vex-breadcrumbs>
    <button class="ml-2" color="primary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>
  </vex-secondary-toolbar>
  <mat-progress-bar *ngIf="isSaving" mode="indeterminate" color="primary"></mat-progress-bar>

  <div class="p-gutter container" [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'">
    <div class="flex flex-col sm:flex-row gap-4">
      <div class="card flex-auto">
        <div class="px-6 py-4 border-b flex items-center gap-2">
          <button [ngClass]="[form.invalid || isSaving ? '!bg-gray' : '!bg-green', '!text-contrast-white']" mat-raised-button
            type="button" (click)="save()" [disabled]="form.invalid || isSaving">
            <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:archive"></mat-icon> Save
          </button>
          <button color="primary" mat-stroked-button type="button" [routerLink]="['']">
            <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:close"></mat-icon> Close
          </button>
        </div>
  
        <div class="px-6 py-4 flex flex-col sm:flex-row gap-6">
          <form [formGroup]="form" class="flex flex-col flex-auto form-container">
            <div class="flex flex-col sm:flex-row sm:gap-8">
              <mat-form-field appearance="fill">
                <mat-label>Line Stretch</mat-label>
                <input matInput formControlName="lineStretch">
              </mat-form-field>
  
              <mat-form-field appearance="fill">
                <mat-label>VoltageLevel</mat-label>
                <mat-select formControlName="voltageId">
                  <mat-option *ngFor="let voltage of voltageLevel" [value]="voltage.id">
                    {{voltage.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <hr class="w-full" [style.margin-top.px]="50" >
            <h2 class="my-4 title flex-auto">Structures</h2>
            <div class="flex flex-col sm:flex-row sm:gap-8" fxLayout="row" fxLayoutAlign="space-between stretch">
              <mat-form-field appearance="fill" class="st-field" fxFlex="30">
                <mat-label>ST</mat-label>
                <input matInput formControlName="st" type="number">
              </mat-form-field>
            
              <mat-form-field appearance="fill" class="sp-field" fxFlex="30">
                <mat-label>SP</mat-label>
                <input matInput formControlName="sp" type="number" >
              </mat-form-field>
            
              <mat-form-field appearance="fill" class="cp-field" fxFlex="30">
                <mat-label>CP</mat-label>
                <input matInput formControlName="cp" type="number" >
              </mat-form-field>
            </div>
            
            <div class="flex flex-col sm:flex-row sm:gap-8" fxLayout="row" fxLayoutAlign="space-between stretch">
              <mat-form-field appearance="fill" class="st-field" fxFlex="30">
                <mat-label>WP</mat-label>
                <input matInput formControlName="wp" type="number" >
              </mat-form-field>
            
              <mat-form-field appearance="fill" class="sp-field" fxFlex="30">
                <mat-label>SLWT</mat-label>
                <input matInput formControlName="slwt" type="number">
              </mat-form-field>
            
              <mat-form-field appearance="fill" class="cp-field" fxFlex="30">
                <mat-label>Total Structures</mat-label>
                <input matInput formControlName="totalstructures" type="number" readonly="true">
              </mat-form-field>
            </div>
            
            <div class="flex flex-col sm:flex-row sm:gap-8" [style.margin-top.px]="20">
              <mat-form-field>
                <mat-label>Installation Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="installationdate">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              
              <mat-form-field appearance="fill" class="route-field">
                <mat-label>Route Length</mat-label>
                <input matInput formControlName="routeLength">
              </mat-form-field>
            </div>
   
            <div class="flex flex-col sm:flex-row sm:gap-8">
              <mat-form-field appearance="fill">
                <mat-label>No. of Circuit</mat-label>
                <mat-select formControlName="noCircuitId">
                  <mat-option *ngFor="let circuit of circuitNumber" [value]="circuit.id">
                    {{circuit.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="circuitlength-field">
                <mat-label>Circuit Length</mat-label>
                <input matInput formControlName="circuitlength">
              </mat-form-field>
            </div>

            <div class="flex flex-col sm:flex-row sm:gap-8">
              <mat-form-field appearance="fill" class="conductorsize-field">
                <mat-label>Conductor Size</mat-label>
                <input matInput formControlName="conductorsize">
              </mat-form-field>

              <mat-form-field appearance="fill" class="conductorbundle-field">
                <mat-label>No. of Conductor wire Bundles per phase</mat-label>
                <input matInput formControlName="noConductor">
              </mat-form-field>
            </div>

            <div class="flex flex-col sm:flex-row">
            <mat-form-field appearance="fill">
              <mat-label>Remarks</mat-label>
              <textarea matInput formControlName="remarks" style="resize: none;"></textarea>
            </mat-form-field>
          </div>

            <div class="flex flex-col sm:flex-row sm:gap-8">
              <mat-form-field appearance="fill">
                <mat-label>UDF1</mat-label>
                <input matInput formControlName="udf1">
              </mat-form-field>
  
              <mat-form-field appearance="fill">
                <mat-label>UDF2</mat-label>
                <input matInput formControlName="udf2">
              </mat-form-field>
            </div>

            <div class="flex flex-col sm:flex-row sm:gap-4">
              <mat-form-field appearance="fill">
                <mat-label>UDF3</mat-label>
                <input matInput formControlName="udf3">
              </mat-form-field>
              </div>
  
            <div class="flex flex-col sm:flex-row sm:gap-4" [style.margin-left.px]="10" [style.margin-top.px]="50" [style.margin-bottom.px]="30">
              <div [formGroup]="form">
                <mat-slide-toggle labelPosition="before" formControlName="isActive">
                  {{ form.value.isActive ? 'Active' : 'Inactive' }}
                </mat-slide-toggle>
                
                <span [style.margin-left.px]="50"> <strong>Status Date: </strong>{{ statusDate | date: 'MM/dd/yyyy' }}</span>
              </div>
            </div>
  
            <blockquote fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px"  [style.margin-left.px]="10"
              *ngIf="isEditMode" >
              <span fxFlex>
                <strong>Created By</strong>:{{createdBy}}
              </span>
              <span fxFlex>
                <strong>Date Created</strong>: {{ createdAt | date: 'MM/dd/yyyy hh:mm a' }}
              </span>
              <span fxFlex>
                <strong>Modified By</strong>: {{ updatedBy }}
              </span>
              <span fxFlex>
                <strong>Date Modified</strong>: {{ updatedAt ? (updatedAt | date: 'MM/dd/yyyy hh:mm a') : 'N/A' }}
              </span>
            </blockquote>
          </form>
        </div>
      </div>
    </div>
  </div>
  