// Social
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-instagram: #cd486b;
$color-pinterest: #C92228;
$color-github: #000;

.bg-facebook:not(:disabled) {
  background: $color-facebook;
  color: white;
}

.bg-twitter:not(:disabled) {
  background: $color-twitter;
  color: white;
}

.bg-instagram:not(:disabled) {
  background: $color-instagram;
  color: white;
}

.bg-pinterest:not(:disabled) {
  background: $color-pinterest;
  color: white;
}

.bg-github:not(:disabled) {
  background: $color-github;
  color: white;
}
