<vex-page-layout>
  <vex-page-layout-header class="pb-16 flex flex-col items-start justify-center">
    <div [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'" 
      class="w-full flex flex-col sm:flex-row justify-between">
      <div>
        <h1 class="title mt-0 mb-1">Audit Logs ({{ totalCount }})</h1>
        <vex-breadcrumbs [crumbs]="['System Management', 'Audit Logs']"></vex-breadcrumbs>
      </div>
      <div class="hidden sm:block">
        <mat-button-toggle-group [formControl]="layoutCtrl" class="mt-4 sm:mt-0">
          <mat-button-toggle value="boxed">Boxed</mat-button-toggle>
          <mat-button-toggle value="fullwidth">Full-Width</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </vex-page-layout-header>
  <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6">
    <div class="card overflow-auto -mt-16">
      <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <div class="bg-foreground rounded-full border px-4 flex-auto flex items-center border border-gray-300">
            <mat-select placeholder="Select a user" (selectionChange)="onFilterUser($event)" [style.width.px]="327"
              class="py-2 border-0 outline-none w-full bg-transparent flex-auto">
            <mat-option *ngFor="let user of users" [value]="user">{{user}}</mat-option>
            </mat-select>
          </div>
          <div class="bg-foreground rounded-full border px-4 max-w-[300px] flex-auto flex items-center border border-gray-300">
            <mat-icon class="icon-sm text-secondary" svgIcon="mat:search"></mat-icon>
            <input [formControl]="searchCtrl" class="px-4 py-2 border-0 outline-none w-full bg-transparent" 
              placeholder="Search audit logs here..." type="search">
          </div>
        </div>
        <span class="flex-1"></span>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <button color="primary" mat-raised-button type="button" (click)="openSharedFolderLink()">
            <mat-icon svgIcon="mat:folder_shared"></mat-icon>
            <span>Shared Folder Link</span>
          </button>
          <button color="primary" mat-raised-button type="button" (click)="exportAuditLogs()">
            <mat-icon svgIcon="mat:download"></mat-icon>
            <span>Export Logs</span>
          </button>
        </div>
      </div>
      <input type="file" id="fileInput" style="display: none;">
      <mat-progress-bar *ngIf="isListLoading" mode="indeterminate" color="primary"></mat-progress-bar>
      <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>
         <!-- Text Columns -->
        <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
          <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
            <ng-container *ngIf="column.property === 'createdAt'; else text">
              <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                {{ row[column.property] | date: 'MM/dd/yyyy hh:mm a' }}
              </td>
            </ng-container>
            <ng-container *ngIf="column.property === 'oldValues' || column.property === 'newValues'; else text">
              <td *matCellDef="let row" mat-cell>
                {{ row[column.property] !== null ? row[column.property].substring(0, 60) : row[column.property] }}
                <mat-icon *ngIf="row[column.property]?.length > 60" [matTooltip]="row[column.property]" class="icon-sm" 
                  svgIcon="mat:more_horiz"></mat-icon> 
              </td>
            </ng-container>
            <ng-template #text>
              <td *matCellDef="let row" mat-cell>
                {{ row[column.property] }}
              </td>
            </ng-template>
          </ng-container>
        </ng-container>
        
        <!-- Label Column -->
        <ng-container matColumnDef="labels">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Labels</th>
          <td *matCellDef="let row" mat-cell>
            <div (click)="$event.stopPropagation()" class="flex items-center gap-1">
              <div *ngFor="let label of row.labels"
                   [ngClass]="[label.textClass, label.bgClass]"
                   class="rounded px-2 py-1 font-medium text-xs flex-none">
                {{ label.text }}
              </div>
              <div class="text-secondary bg-base text-hint cursor-pointer hover:bg-hover flex-none flex items-center justify-center">
                <mat-icon class="icon-sm" svgIcon="mat:add"></mat-icon>
              </div>
            </div>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>ACTIONS</th>
          <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
            <button (click)="$event.stopPropagation()"
                    [matMenuTriggerData]="{ customer: row }"
                    [matMenuTriggerFor]="actionsMenu"
                    mat-icon-button
                    type="button">
              <mat-icon svgIcon="mat:more_horiz"></mat-icon>
            </button>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr
            *matRowDef="let row; columns: visibleColumns;"
            @fadeInUp
            class="hover:bg-hover trans-ease-out cursor-pointer"
            [ngClass]="{ 'alternate-row': row.id % 2 === 0 }"
            mat-row></tr>
      </table>
      <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
    </div>
  </vex-page-layout-content>
</vex-page-layout>
<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns" class="mat-menu-item block">
    <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
      {{ column.label }}
    </mat-checkbox>
  </button>
</mat-menu>
<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-customer="customer" matMenuContent>
  </ng-template>
</mat-menu>
