<vex-secondary-toolbar current="Edit Alerts">
  <vex-breadcrumbs
    [crumbs]="['System Management', 'Alerts', 'Edit Alerts']"
    class="flex-auto"
  ></vex-breadcrumbs>
  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon svgIcon="mat:more_vert"></mat-icon>
  </button>
</vex-secondary-toolbar>
<div
  class="p-gutter container"
  [class.container]="layoutCtrl.value === 'boxed'"
  [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
>
  <div class="flex flex-col sm:flex-row gap-4">
    <div class="card flex-auto">
      <div class="px-6 py-4 border-b flex items-center gap-2">
        <button
          [ngClass]="['!bg-green', '!text-contrast-white']"
          mat-raised-button
          type="button"
          (click)="save()"
        >
          <mat-icon
            class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2"
            svgIcon="mat:archive"
          ></mat-icon>
          Save
        </button>
        <button
          color="primary"
          mat-stroked-button
          type="button"
          [routerLink]="['/apps/alerts']"
        >
          <mat-icon
            class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2"
            svgIcon="mat:close"
          ></mat-icon>
          Close
        </button>
      </div>
      <div class="px-6 py-4 flex flex-col">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <form
            [formGroup]="form"
            class="flex flex-col flex-auto form-container"
          >
            <div class="grid md:gap-x-8 mt-8">
              <div class="mb-6">
                <label
                  for="subject-input"
                  class="block mb-2 text-sm font-medium font-bold"
                  >Subject *</label
                >
                <mat-form-field appearance="fill" class="w-full">
                  <input
                    matInput
                    id="subject-input"
                    type="text"
                    placeholder="Subject"
                    class="block w-full"
                    formControlName="subject"
                  />
                </mat-form-field>
                <mat-error
                  *ngIf="
                    formControls.subject.touched && formControls.subject.invalid
                  "
                >
                  <span *ngIf="formControls.subject.getError('required')">
                    Subject is required
                  </span>
                </mat-error>
              </div>
            </div>
            <div class="grid md:grid-cols-2 md:gap-x-8 mt-8">
              <div class="mb-6">
                <label
                  for="startdate-input"
                  class="block mb-2 text-sm font-medium font-bold"
                  >Start Date *</label
                >
                <mat-form-field appearance="fill" class="w-full">
                  <input
                    matInput
                    id="startdate-input"
                    type="text"
                    placeholder="Start Date"
                    class="block w-full"
                    formControlName="startDate"
                  />
                </mat-form-field>
                <mat-error
                  *ngIf="
                    formControls.startDate.touched && formControls.startDate.invalid
                  "
                >
                  <span *ngIf="formControls.startDate.getError('required')">
                    Start date is required
                  </span>
                </mat-error>
              </div>
              <div class="mb-6">
                <label
                  for="starttime-input"
                  class="block mb-2 text-sm font-medium font-bold"
                  >Time *</label
                >
                <mat-form-field appearance="fill" class="w-full">
                  <input
                    matInput
                    id="starttime-input"
                    type="text"
                    placeholder="Start Time"
                    class="block w-full"
                    formControlName="startTime"
                  />
                </mat-form-field>
                <mat-error
                  *ngIf="
                    formControls.startTime.touched && formControls.startTime.invalid
                  "
                >
                  <span *ngIf="formControls.startTime.getError('required')">
                    Start time is required
                  </span>
                </mat-error>
              </div>
            </div>
            <div class="grid md:grid-cols-2 md:gap-x-8 mt-8">
              <div class="mb-6">
                <label
                  for="enddate-input"
                  class="block mb-2 text-sm font-medium font-bold"
                  >End Date *</label
                >
                <mat-form-field appearance="fill" class="w-full">
                  <input
                    matInput
                    id="enddate-input"
                    type="text"
                    placeholder="End Date"
                    class="block w-full"
                    formControlName="endDate"
                  />
                </mat-form-field>
                <mat-error
                  *ngIf="
                    formControls.endDate.touched && formControls.endDate.invalid
                  "
                >
                  <span *ngIf="formControls.endDate.getError('required')">
                    End date is required
                  </span>
                </mat-error>
              </div>
              <div class="mb-6">
                <label
                  for="endtime-input"
                  class="block mb-2 text-sm font-medium font-bold"
                  >Time *</label
                >
                <mat-form-field appearance="fill" class="w-full">
                  <input
                    matInput
                    id="endtime-input"
                    type="text"
                    placeholder="End Time"
                    class="block w-full"
                    formControlName="endTime"
                  />
                </mat-form-field>
                <mat-error
                  *ngIf="
                    formControls.endTime.touched && formControls.endTime.invalid
                  "
                >
                  <span *ngIf="formControls.endTime.getError('required')">
                    End time is required
                  </span>
                </mat-error>
              </div>
            </div>
            
            <div class="grid md:gap-x-8 mt-8">
              <div class="mb-6">
                <label
                  for="content-input"
                  class="block mb-2 text-sm font-medium font-bold"
                  >Content *</label
                >
                <ckeditor [editor]="Editor" formControlName="content"></ckeditor>
                <!-- <mat-form-field appearance="fill" class="w-full">
                  <input
                    matInput
                    id="content-input"
                    type="text"
                    placeholder="Content"
                    class="block w-full"
                    formControlName="content"
                  />

                </mat-form-field>
                <mat-error
                  *ngIf="
                    formControls.content.touched && formControls.content.invalid
                  "
                >
                  <span *ngIf="formControls.subject.getError('required')">
                    Content is required
                  </span>
                </mat-error> -->
              </div>
            </div>
            
            <div class="grid md:grid-cols-2 md:gap-x-8 mt-8">
              <div class="mb-6">
              <label
                for="comp-input"
                class="block mb-2 text-sm font-medium font-bold"
                >Target *</label
              >
              <mat-form-field appearance="fill" class="flex-auto">
                <mat-select formControlName="target" required>
                  <mat-option value="{{i.text}}" *ngFor="let i of targetList"><mat-icon>{{i.icon}}</mat-icon> {{i.text}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    formControls.target.touched && formControls.target.invalid
                  "
                >
                  <span *ngIf="formControls.target.getError('required')">
                    Target is required
                  </span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="mb-6" *ngIf="formControls.target.value == 'Role'">
              <label
                for="comp-input"
                class="block mb-2 text-sm font-medium font-bold"
                >Roles *</label
              >
              <mat-form-field appearance="fill" class="flex-auto">
                <mat-select formControlName="roles" required>
                  <mat-option value="{{i.text}}" *ngFor="let i of rolesList"><mat-icon>{{i.icon}}</mat-icon> {{i.text}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    formControls.roles.touched && formControls.roles.invalid
                  "
                >
                  <span *ngIf="formControls.roles.getError('required')">
                    Roles is required
                  </span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="mb-6" *ngIf="formControls.target.value == 'User'">
              <label
                for="comp-input"
                class="block mb-2 text-sm font-medium font-bold"
                >Users *</label
              >
              <mat-form-field appearance="fill" class="flex-auto">
                <mat-select formControlName="users" required>
                  <mat-option value="{{i.text}}" *ngFor="let i of usersList"><mat-icon>{{i.icon}}</mat-icon> {{i.text}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    formControls.users.touched && formControls.users.invalid
                  "
                >
                  <span *ngIf="formControls.users.getError('required')">
                    Users is required
                  </span>
                </mat-error>
              </mat-form-field>
            </div>
            </div>
            <div class="grid md:grid-cols-2 md:gap-x-8 mt-8">
            <div class="mb-6">
              <label
                for="comp-input"
                class="block mb-2 text-sm font-medium font-bold"
                >Type *</label
              >
              <mat-form-field appearance="fill" class="flex-auto">
                <mat-select formControlName="type" required>
                  <mat-option value="{{i.text}}" *ngFor="let i of typeList"><mat-icon>{{i.icon}}</mat-icon> {{i.text}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formControls.type.touched && formControls.type.invalid"
                >
                  <span *ngIf="formControls.type.getError('required')">
                    Type is required
                  </span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="mb-6">
              <label
                for="comp-input"
                class="block mb-2 text-sm font-medium font-bold"
                >Icon Color *</label
              >
              <mat-form-field appearance="fill" class="flex-auto">
                <mat-select formControlName="iconColor" required>
                  <mat-option value="{{i.text}}" *ngFor="let i of iconColorList"><span style.color="{{i.color}}"><mat-icon>brightness_1</mat-icon></span> {{i.text}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    formControls.iconColor.touched &&
                    formControls.iconColor.invalid
                  "
                >
                  <span *ngIf="formControls.iconColor.getError('required')">
                    Icon color is required
                  </span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="grid md:grid-cols-2 md:gap-x-8 mt-8">
            <div class="mb-6">
              <label
                for="comp-input"
                class="block mb-2 text-sm font-medium font-bold"
                >Icon *</label
              >     
              <mat-form-field appearance="fill" class="flex-auto">
                <mat-select formControlName="icon" required>
                  <mat-option value="{{i.text}}" *ngFor="let i of iconList"><mat-icon>{{i.icon}}</mat-icon> {{i.text}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formControls.icon.touched && formControls.icon.invalid"
                >
                  <span *ngIf="formControls.icon.getError('required')">
                    Icon is required
                  </span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
            <div class="flex flex-col sm:flex-row sm:gap-4">
              <mat-slide-toggle
                color="accent"
                labelPosition="before"
                formControlName="isActive"
                (change)="onToggleStatus($event)"
              >
                {{ statusLabel }}
              </mat-slide-toggle>
            </div>
            <blockquote
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="5px"
              [style.marginTop.px]="30"
            >
              <span fxFlex> <strong>Created By</strong>: {{ createdBy }} </span>
              <span fxFlex>
                <strong>Date Created</strong>:
                {{ createdAt | date : "MM/dd/yyyy hh:mm a" }}
              </span>
              <span fxFlex>
                <strong>Modified By</strong>: {{ updatedBy }}
              </span>
              <span fxFlex>
                <strong>Date Modified</strong>:
                {{
                  updatedAt ? (updatedAt | date : "MM/dd/yyyy hh:mm a") : "N/A"
                }}
              </span>
            </blockquote>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
