<div class="breadcrumb d-flex">
  <div class="row">
    <div class="col">
      <span>System Management ></span>
      <span> <a href="/apps/interpolations">String Interpolation ></a></span>
      <span>Add String Interpolation</span>
    </div>
  </div>

  <div class="options">
    <div class="btn-opt" style="display: flex;">
      <button class="save" (click)="save()" style="display: flex; align-items: center;">
        <mat-icon svgIcon="mat:folder"></mat-icon> Save
      </button>
      <button class="close" style="display: flex; align-items: center;">
        <mat-icon svgIcon="mat:close"></mat-icon> Close
      </button>
    </div>
  </div>

</div>

<div class="container-fluid">
  <div class="settings" [formGroup]="stringInterpolationForm">
    <div class="row">
      <div class="form-input col-lg-6">
        <label for="comp-input">Code</label>
        <input type="text" id="comp-input" placeholder="Code" formControlName="TransactionCode">
      </div>

      <div class="form-input col-lg-6">
        <label for="comp-input">Description</label>
        <input type="text" id="comp-input" placeholder="Description" formControlName="TransactionDescription">
      </div>
    </div>

    <div class="row">
      <div class="form-input col-lg-3">
        <label for="comp-input">Notification Type</label>
        <mat-select placeholder="Select Notification Type" formControlName="NotificationType">
          <mat-option *ngFor="let notification of notificationType" [value]="notification">{{ notification
            }}</mat-option>
        </mat-select>
      </div>

      <div class="form-input col-lg-3">
        <label for="comp-input">Active</label>
        <mat-slide-toggle formControlName="IsActive"></mat-slide-toggle>
      </div>

      <div class="form-input col-lg-3">
        <label for="comp-input">Status Date</label>
        <input type="text" id="comp-input" placeholder="Example Data" formControlName="StatusDate">
      </div>
    </div>
  </div>
</div>