.breadcrumb .col{
    margin: 10px 50px;
    color: #043B7B;
    font-size: medium;
}

.save{
    background-color: green;
    padding: 7px 15px;
    border-radius: 5px;
    margin-right: 8px;
}

.close{
    background-color: blue;
    padding: 7px 15px;
    border-radius: 5px;
    margin-left: 8px;
}
