<vex-secondary-toolbar current="My Profile">
  <vex-breadcrumbs [crumbs]="crumbs" class="flex-auto"></vex-breadcrumbs>
  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon svgIcon="mat:more_vert"></mat-icon>
  </button>
</vex-secondary-toolbar>

<div class="p-gutter container" [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'">
  <div class="flex flex-col sm:flex-row gap-4">
    <div class="card flex-auto">
      <div class="px-6 py-4 border-b flex items-center gap-2">

        <button [ngClass]="[ settingsForm.invalid ?'!bg-gray' : '!bg-green', '!text-contrast-white']"  mat-raised-button type="button" (click)="save()" [disabled]="settingsForm.invalid">
          <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:archive"></mat-icon> Save
        </button>
        
        <button color="primary" mat-stroked-button type="button" [routerLink]="['/apps/modules']">
          <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:close"></mat-icon> Close
        </button>
      </div>
   
<!--ONGOING FLEX LAYOUT CHANGING <---> 
 
  <div class="settings" [formGroup]="settingsForm">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" dynamicHeight class="tabs">
      <mat-tab label="General" >

        <div class="profile" fxLayout="row" fxLayoutAlign="start start" style=" padding-left:4%;" >
          <mat-card class="box-placeholder" fxLayout="column" fxLayoutAlign="center center">
            <img [src]="'assets/img/avatars/' + (settingsForm.value.selectedPhoto || userInfo?.photo || 'default.jpg')" alt="Selected Photo" class="center-image" width="150px" height="150px" style="border-radius: 8px;">
          
            <p style="font-size: 20px; font-family: 'Poppins'; margin-top: 10px;">{{ settingsForm.value.First }} {{ settingsForm.value.last }}</p>
          
            <div class="Info" fxLayout="column" fxLayoutAlign="start" style="margin-top: 40px; height: auto; width: auto;">

              <div fxLayout="row" fxLayoutAlign="space-between center">
                <p style="color: gray;">Position:</p>
                <p>{{ settingsForm.value.position }}</p>
              </div>
              <hr>
              
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <p style="color: gray;">Region:</p>
                <ng-container *ngIf="TAFGControl?.value?.length > 0">
                  <p>{{ TAFGControl?.value?.join(', ') }}</p>
                </ng-container>
              </div>
              <hr>
              
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" >
                <p style="color: gray;">Last Login date:</p>
                <p fxFlex style="font-size: 13px">{{ settingsForm.value.lastLoginDate }}</p>
              </div>
              <hr>
              
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" >
                <p style="color: gray;">Expiration Date:</p>
                <p fxFlex style="font-size: 13px">{{ settingsForm.value.accexpiration }}</p>
              </div>
              
            </div>
            <hr>
          </mat-card>
        
        
                 <div class="gen-set" style="display: flex; justify-content: center; align-items: center; width: 80%; height: 100%;">
  
                      <div class="gen-set-items">
                        
                          <div class="row">
                            <div class ="formclass">
                              <mat-form-field class="example-full-width">
                                <mat-label>Employee Number</mat-label>
                                <input matInput placeholder="Ex. Emp-001" formControlName="ExampleData" readonly>
                              </mat-form-field>
                              </div>
  
                          </div>
                          <div class="row">
                            <div class ="formclass">
                              <mat-form-field class="example-full-width">
                                <mat-label>Username</mat-label>
                                <input matInput placeholder="Ex. Pizza" formControlName="username" readonly>
                              </mat-form-field>
                              </div>
  
                              <div class ="formclass">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Position</mat-label>
                                <mat-select formControlName= "position" style="width: 97%; background-color: transparent;">
                                    <mat-option *ngIf="userInfo?.position" [value]="userInfo.position">{{ userInfo.position }}</mat-option>
                                </mat-select>
                              </mat-form-field>
                              </div>

                          </div>
  
                          <div class="row">
  
                            <div class ="formclass">
                              <mat-form-field class="example-full-width">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="Ex. Pizza" formControlName="First" readonly>
                              </mat-form-field>
                            </div>
  
                            <div class ="formclass">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Last Name</mat-label>
                                  <input matInput #focus placeholder="Ex. Dela Cruz" formControlName="last" >
                                </mat-form-field>
                              </div>
                          
                          </div>
  
                          <div class="row">
                            <div class ="formclass">
                            <mat-form-field class="example-full-width">
                              <mat-label>Email Address</mat-label>
                              <input matInput placeholder="Ex. keach@gmaik.com" formControlName="emailaddress" readonly>
                            </mat-form-field>
                            </div>
  
                            <div class ="formclass">
                            <mat-form-field class="example-full-width" >
                              <mat-label>Mobile Number</mat-label>
                              <input matInput placeholder="Ex. 09614451334" formControlName="mobilenumber">
                            </mat-form-field>
                            </div>
  
                          <!-- TO DO : EXPLORE ON HOW CAN I MAKE THE # AND LAST NAME TO APPEAR EDITABLE UI TASK <--- -->
                          </div>
                          <div class="row">
                            <div class="formclass">
                              <mat-form-field appearance="fill" class="example-full-width" style="width: 100%;">
                                <mat-label>TA-FG</mat-label>
                                <mat-select [formControl]="TAFGControl" multiple [disabled]="true">
                                  <mat-select-trigger>
                                    <mat-chip-set>
                                      <mat-chip disabled
                                                *ngFor="let selectedOption of TAFGControl.value"
                                                [removable]="true"
                                                >
                                        {{ selectedOption }}
                                        <mat-icon matChipRemove>cancel</mat-icon>
                                      </mat-chip>
                                    </mat-chip-set>
                                  </mat-select-trigger>
                                  <mat-option disabled *ngFor="let tafg of settingsForm.get('TAFG').value" [value]="tafg">
                                    {{ tafg }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          
                          
                       
                            <div class ="formclass">
                              <mat-form-field class="example-full-width">
                                <mat-label>OUP-FG</mat-label>
                                <input matInput placeholder="Ex." formControlName="OUPFG" readonly>
                              </mat-form-field>
                            </div>

                          </div>

                          <div class ="formclass">
                            <mat-form-field class="example-full-width">
                              <mat-label>Division</mat-label>
                            <mat-select formControlName= "division" style="width: 97%; background-color: transparent;">
                                 <mat-option *ngIf="userInfo?.division" [value]="userInfo.division">{{ userInfo.division }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          </div>
  
                          <div class="row">
                            <div class ="formclass">
                              <mat-form-field class="example-full-width">
                                <mat-label>Account Status</mat-label>
                              <mat-select formControlName= "accountstatus" style="width: 97%; background-color: transparent;">
                                <mat-option *ngFor="let status of status" [value]="status">{{status }}</mat-option>
                              </mat-select>
                            </mat-form-field>
                            </div>
    
  
  
  
                            <div class ="formclass">
                              <mat-form-field class="example-full-width">
                                <mat-label>Status Date</mat-label>
                                <input matInput placeholder="Ex." formControlName="statusdate" readonly>
                              </mat-form-field>
                            </div>
  
                          </div>
                      </div>
                    </div>
          
              <mat-tab label="User Role ({{ USER_ROLE.length }})">
                <div class="conf-set">
                      <div class="Userprofile" style="padding-left: 50px; display: flex; align-items: flex-start;">
  
                        <div class="box-placeholder2">
                          <img [src]="'assets/img/avatars/' + (this.settingsForm.value.selectedPhoto || userInfo?.photo || 'default.jpg')" alt="Selected Photo" class="center-image" width="150px" height="150px" style="border-radius: 8px;">
                          
                            <p style="font-size: 20px; font-family: 'Poppins'; margin-top: 10px;">{{ settingsForm.value.First }} {{ settingsForm.value.last }}</p>
                      
                              <div class="Info" style="display: flex; flex-direction: column; align-items: left; margin-top: 40px;">
                                  <div class="row no-margin">
                                   
                                      <p style="color: gray;">Position:</p>
                                      <p>{{ settingsForm.value.position }}</p>
                                  </div>
                                  <hr>
                                  <div class="row no-margin">
                                    <p style="color: gray;">Region:</p>
                                    <div class="tafg-row">
                                        <ng-container *ngIf="TAFGControl?.value?.length > 0">
                                            <p>{{ TAFGControl?.value?.join(', ') }}</p>
                                          </ng-container>
                                          
                                    </div>
                                  </div>
                                  <hr>
                                  <div class="row no-margin">
                                    <p style="margin-right: 30px; color: gray;">Last Login date:</p>
                                    <p style="font-size: 13px">{{ settingsForm.value.lastLoginDate }}</p>
                                </div>
                                
                                  <hr>
                                  <div class="row no-margin">
                                    <p style="margin-right: 30px; color: gray;">Expiration Date:</p>
                                    <p style="font-size: 13px">{{ settingsForm.value.accexpiration }}</p>
                                </div>
                              </div>
                              <hr>
                          </div>
  
                          <div class="gen-set" style="display: flex; justify-content: center; align-items: center; width: 80%; height: 100%;"> 
                              <div class="gen-set-items">
                                    <table mat-table [dataSource]="USER_ROLE" class="mat-elevation-z8" style="background-color: transparent;">
                                      <ng-container matColumnDef="position">
                                        <th mat-header-cell *matHeaderCellDef>ROLE</th>
                                        <td mat-cell *matCellDef="let element">{{element.position}}</td>
                                      </ng-container>
                                    
                                      <ng-container matColumnDef="description">
                                        <th mat-header-cell *matHeaderCellDef>DESCRIPTION</th>
                                        <td mat-cell *matCellDef="let element">{{element.description}}</td>
                                      </ng-container>
                                    
                                      <ng-container matColumnDef="date">
                                        <th mat-header-cell *matHeaderCellDef>DATE ADDED</th>
                                        <td mat-cell *matCellDef="let element">{{element.date}}</td>
                                      </ng-container>
                                    
                                      <tr mat-header-row *matHeaderRowDef="['position', 'description', 'date']"></tr>
                                      <tr mat-row *matRowDef="let row; columns: ['position', 'description', 'date']"></tr>
                                      </table>
                                  </div>
                              </div>
                  </div>
  </div>