<vex-secondary-toolbar current="{{ pageLabel }}">
  <vex-breadcrumbs
    [crumbs]="['System Management', 'Alerts', pageLabel]"
    class="flex-auto"
  ></vex-breadcrumbs>
  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon svgIcon="mat:more_vert"></mat-icon>
  </button>
</vex-secondary-toolbar>
<div
  class="p-gutter container"
  [class.container]="layoutCtrl.value === 'boxed'"
  [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
>
  <div class="flex flex-col sm:flex-row gap-4">
    <div class="card flex-auto">
      <div class="px-6 py-4 border-b flex items-center gap-2">
        <button
          [ngClass]="[
            form.invalid ? '!bg-gray' : '!bg-green',
            '!text-contrast-white'
          ]"
          mat-raised-button
          type="button"
          [disabled]="form.invalid"
          (click)="save()"
        >
          <mat-icon
            class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2"
            svgIcon="mat:archive"
          ></mat-icon>
          Save
        </button>
        <button
          color="primary"
          mat-stroked-button
          type="button"
          [routerLink]="['/apps/templates']"
        >
          <mat-icon
            class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2"
            svgIcon="mat:close"
          ></mat-icon>
          Close
        </button>
      </div>
      <div class="px-6 py-4 flex flex-col">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <form
            [formGroup]="form"
            class="flex flex-col flex-auto form-container"
          >
            <div class="grid md:gap-x-8">
              <div>
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Subject</mat-label>
                  <input
                    matInput
                    id="subject-input"
                    type="text"
                    class="block w-full"
                    formControlName="subject"
                  />
                  <mat-error
                    *ngIf="
                      formControls.subject.touched && formControls.subject.invalid
                    "
                  >
                    <span *ngIf="formControls.subject.getError('required')">
                      Subject is required
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="grid md:grid-cols-2 md:gap-x-8">
              <div>
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Start Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="startDatePicker"
                    inputFormat="MM/dd/yyyy"
                    autocomplete="off"
                    id="startDate"
                    formControlName="startDate"
                    type="text"
                    required
                    [min]="todayDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="startDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #startDatePicker></mat-datepicker>
                  <mat-error
                    *ngIf="
                      formControls.startDate.touched &&
                      formControls.startDate.invalid
                    "
                  >
                    <span *ngIf="formControls.startDate.getError('required')">
                      Start date is required
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div>
                <div class="mat-input">
                  <label
                    for="content-input"
                    class="block mb-2 text-sm font-medium font-bold"
                    >Time *
                  </label>
                  <input
                    id="starttime-input"
                    type="time"
                    class="block w-full mat-time"
                    formControlName="startTime"
                  />
                </div>
                <mat-error
                  *ngIf="
                    formControls.startTime.touched &&
                    formControls.startTime.invalid
                  "
                >
                  <span *ngIf="formControls.startTime.getError('required')" class="mat-error">
                    Start time is required
                  </span>
                </mat-error>
              </div>
            </div>
            <div class="grid md:grid-cols-2 md:gap-x-8">
              <div>
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>End Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="endDatePicker"
                    inputFormat="MM/dd/yyyy"
                    autocomplete="off"
                    id="endDate"
                    formControlName="endDate"
                    type="text"
                    [min]="todayDate"
                    required
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="endDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #endDatePicker></mat-datepicker>
                  <mat-error
                    *ngIf="
                      formControls.endDate.touched &&
                      formControls.endDate.invalid
                    "
                  >
                    <span *ngIf="formControls.endDate.getError('required')">
                      End date is required
                    </span>
                    <span *ngIf="formControls.endDate.getError('lessthanstartdate')">
                      End date cannot earlier than start date
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div>
                <div class="mat-input">
                <label
                  for="content-input"
                  class="block mb-2 text-sm font-medium font-bold"
                  >Time *
                </label>
                <input
                  matInput
                  id="endtime-input"
                  type="time"
                  class="block w-full mat-time"
                  formControlName="endTime"
                />
                </div>
                <mat-error
                  *ngIf="
                    formControls.endTime.touched && formControls.endTime.invalid
                  "
                >
                  <span *ngIf="formControls.endTime.getError('required')" class="mat-error">
                    End time is required
                  </span>
                </mat-error>
              </div>
            </div>

            <div class="grid md:gap-x-8">
              <div class="mt-6 mb-6">
                <label
                  for="content-input"
                  class="block mb-2 text-sm font-medium font-bold"
                  >Content *
                  <button
                    id="btn_view-interpolation"
                    class="text-contrast-white float-right"
                    mat-raised-button
                    type="button"
                    (click)="viewInterpolation()"
                  >
                    <mat-icon
                      class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2"
                      svgIcon="mat:open_in_full"
                    ></mat-icon>
                    View Interpolation
                  </button>
                </label>
                <ckeditor
                  [editor]="Editor"
                  height="500px"
                  #contentEditor
                  formControlName="content"
                ></ckeditor>
              </div>
            </div>
            <div class="grid md:grid-cols-2 md:gap-x-8">
              <div>
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Target</mat-label>
                  <mat-select formControlName="target" required>
                    <mat-option
                      value="{{ i.value }}"
                      *ngFor="let i of targetList"
                      >{{ i.text }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      formControls.target.touched && formControls.target.invalid
                    "
                  >
                    <span *ngIf="formControls.target.getError('required')">
                      Target is required
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div *ngIf="formControls.target.value != 'User'">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Roles</mat-label>
                  <mat-select formControlName="roles" required readonly="formControls.target.value != 'Role'" multiple>
                    <mat-option
                      value="{{ i.name }}"
                      *ngFor="let i of rolesList"
                      >{{ i.name }}</mat-option
                    >
                    <!-- <mat-icon>{{i.icon}}</mat-icon>  -->
                  </mat-select>
                  <mat-error
                    *ngIf="
                      formControls.roles.touched && formControls.roles.invalid
                    "
                  >
                    <span *ngIf="formControls.roles.getError('required')">
                      Roles is required
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div *ngIf="formControls.target.value == 'User'">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Users</mat-label>
                  <mat-select formControlName="users" required multiple>
                    <mat-option value="{{ i.id }}" *ngFor="let i of usersList"
                      ><label>{{ i.firstName }} {{ i.lastName }}</label> |
                      <label>{{ i.position }}</label></mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      formControls.users.touched && formControls.users.invalid
                    "
                  >
                    <span *ngIf="formControls.users.getError('required')">
                      Users is required
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="grid md:grid-cols-2 md:gap-x-8">
              <div>
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Url</mat-label>
                  <input
                    matInput
                    id="url-input"
                    type="text"
                    class="block w-full"
                    formControlName="url"
                  />
                </mat-form-field>
                <mat-error
                  *ngIf="formControls.url.touched && formControls.url.invalid"
                >
                  <span *ngIf="formControls.url.getError('required')">
                    Url is required
                  </span>
                </mat-error>
              </div>
              <div>
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Type</mat-label>
                  <mat-select formControlName="notificationType" required>
                    <mat-option value="{{ i.value }}" *ngFor="let i of typeList"
                      >
                      {{ i.text }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      formControls.notificationType.touched &&
                      formControls.notificationType.invalid
                    "
                  >
                    <span
                      *ngIf="formControls.notificationType.getError('required')"
                    >
                      Type is required
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="grid md:grid-cols-2 md:gap-x-8">
              <div>
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Icon</mat-label>
                  <mat-select formControlName="icon" required>
                    <mat-option value="{{ i.icon }}" *ngFor="let i of iconList"
                      ><mat-icon>{{ i.icon }}</mat-icon>
                      {{ i.text }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      formControls.icon.touched && formControls.icon.invalid
                    "
                  >
                    <span *ngIf="formControls.icon.getError('required')">
                      Icon is required
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Icon Color</mat-label>
                  <mat-select formControlName="iconColor" required>
                    <mat-option
                      value="{{ i.value }}"
                      *ngFor="let i of iconColorList"
                    ><mat-icon style.color="{{ i.color }}">palette</mat-icon>
                      {{ i.text }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      formControls.iconColor.touched &&
                      formControls.iconColor.invalid
                    "
                  >
                    <span *ngIf="formControls.iconColor.getError('required')">
                      Icon color is required
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="flex flex-col sm:flex-row sm:gap-4">
              <mat-slide-toggle
                color="accent"
                labelPosition="before"
                formControlName="isActive"
                (change)="onToggleStatus($event)"
              >
                {{ statusLabel }}
              </mat-slide-toggle>
              <span>Status date: {{ formControls.statusDate.value | date : "MM/dd/yyyy hh:mm a"}}</span>
            </div>
            <blockquote *ngIf="id"
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="5px"
              [style.marginTop.px]="30"
            >
              <span fxFlex> <strong>Created By</strong>: {{ createdBy }} </span>
              <span fxFlex>
                <strong>Date Created</strong>:
                {{ createdAt | date : "MM/dd/yyyy hh:mm a" }}
              </span>
              <span fxFlex>
                <strong>Modified By</strong>: {{ updatedBy }}
              </span>
              <span fxFlex>
                <strong>Date Modified</strong>:
                {{
                  updatedAt ? (updatedAt | date : "MM/dd/yyyy hh:mm a") : "N/A"
                }}
              </span>
            </blockquote>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
