.breadcrumb {
  margin: 90px 50px 30px;
  color: #043B7B;
  font-size: large;
  font-weight: 500;
}

.btn-opt{
  background-color: #E9ECEF;
  margin: 15px 50px;
  padding: 10px;
  color: #ffffff;
}

.btn-opt button > *{
  margin: auto 5px;
}

.save{
  background-color: #009246;
  padding: 3px 15px;
  border-radius: 5px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.close{
  background-color: #043C79;
  padding: 3px 15px;
  border-radius: 5px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.req-hint{
  color: #FF0000;
}

.module-fields{
  margin: 50px;
}

mat-form-field {
  width: 60%;
}

.is-active{
  margin-top: 20px;
}

.is-active > span{
  margin-right: 20px;
}

.module-footer{
  margin: 10% 45px auto;
  background: #E9ECEF;
  padding: 5px 0;
}

.module-footer > div span:first-child{
  font-weight: bold;
  margin-right: 3px;
}

::ng-deep .mat-mdc-form-field.url-field .mat-mdc-text-field-wrapper{
  background-color: #EFEFEF;
}

.mat-mdc-slide-toggle.mat-accent{
  --mdc-switch-selected-track-color: #008000;
  --mdc-switch-selected-handle-color: #008000;
  --mdc-switch-selected-hover-track-color: #008000;
  --mdc-switch-selected-hover-handle-color: #008000;
  --mdc-switch-selected-pressed-track-color: #008000;
  --mdc-switch-selected-pressed-handle-color: #008000;
  --mdc-switch-selected-focus-track-color: #008000;
  --mdc-switch-selected-focus-handle-color: #008000;
}

.mat-input-element {
  background: transparent !important;
}

.mat-input-element:focus {
  outline: none;
}