<div class="breadcrumb">
  <div class="wrapper">
      <div class="edit-module-title">
          <span>System Management > </span>
          <span>Modules > </span>
          <span>Edit Module</span>
      </div>
  </div>

  <div class="options">
      <div class="btn-opt m-5" fxLayout="row">
          <button class="save" form="editModuleForm">
            <mat-icon svgIcon="mat:folder"></mat-icon>
            <span>Save</span>
          </button>
          <button class="close">
            <mat-icon svgIcon="mat:close"></mat-icon>
            <span>Close</span>
          </button>
      </div>
  </div>
</div>

<div class="module-fields">
  <form class="form-input" id="editModuleForm" [formGroup]="editModuleForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center stretch">
   <div class="module-name module-cont" fxLayout="column">
    <label>Module Name <span class="req-hint">*</span></label>
    <mat-form-field class="module-field" appearance="outline">
      <input matInput type="text" formControlName="moduleName" required>
    </mat-form-field>
   </div>

   <div class="desc module-cont" fxLayout="column">
    <label>Description</label>
    <mat-form-field class="desc-field" appearance="outline">
      <input matInput type="text" formControlName="description">
    </mat-form-field>
   </div>

   <div class="url module-cont" fxLayout="column">
    <label>Url</label>
    <mat-form-field class="url-field" appearance="outline">
      <input matInput type="text" formControlName="url">
    </mat-form-field>
   </div>

   <div class="is-active module-cont" fxLayout="row">
    <span>Active</span><mat-slide-toggle color="accent" matInput formControlName="isActive"></mat-slide-toggle>
   </div>
  </form>
</div>

<div class="module-footer" fxLayout="row" fxLayoutAlign="space-around center">
  <div class="created-by-cont">
    <span class="created-by">Created By:</span>
    <span>Super Admin</span>
  </div>
  <div class="date-created-cont">
    <span class="date-created">Date Created:</span>
    <span>07/19/2023 10:15 AM</span>
  </div>
  <div class="modified-by-cont">
    <span class="modified-by">Modified By:</span>
    <span>Elizabeth M. Terrell</span>
  </div>
  <div class="date-modified-cont">
    <span class="date-modified">Date Modified:</span>
    <span>07/19/2023 10:15 AM</span>
  </div>
</div>