<vex-page-layout @stagger>
  <!-- <vex-secondary-toolbar>
    <vex-breadcrumbs [crumbs]="['System Management', 'Modules', 'Edit Module']"></vex-breadcrumbs>
  </vex-secondary-toolbar> -->
  
  <vex-page-layout-content class="container">
    <form id="moduleField" [formGroup]="moduleField" (ngSubmit)="onSubmit()">
      <div class="card flex flex-col sm:flex-row">
        <div class="border-l flex-auto">
          <div class="bg-base border-l-3 p-4 mt-3 flex flex-col sm:flex-row gap-3 items-center">
            <div class="btn-opt m-5" fxLayout="row">
                <button class="save" form="editModuleForm" type="submit" >
                  <mat-icon svgIcon="mat:folder"></mat-icon>
                  <span>Save</span>
                </button>
                <button (click)="close()" class="close">
                  <mat-icon svgIcon="mat:close"></mat-icon>
                  <span>Close</span>
                </button>
            </div>
          </div>
          <div class="px-6 py-4 flex flex-col">
            <mat-form-field appearance="fill" class="max-w-[60%]">
              <mat-label>Module Name</mat-label>
              <input matInput formControlName="moduleName" [(ngModel)]="moduleName" required >
            </mat-form-field>
            <mat-form-field appearance="fill" class="max-w-[60%]">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="moduleDesc" [(ngModel)]="moduleDescription" required></textarea>
            </mat-form-field>
            <div class="is-active flex gap-3">
              <span>Active</span><mat-slide-toggle color="accent" formControlName="isActive" [(ngModel)]="isActive" matInput></mat-slide-toggle>
            </div>
            <hr>
          </div>
            <div class="px-6 py-4 flex flex-col">
              <div class="module-footer my-8 flex flex-row justify-around items-center">
                <div class="created-by-cont">
                  <span class="created-by font-bold mr-2">Created By:</span>
                  <span>{{createdBy}}</span>
                </div>
                <div class="date-created-cont">
                  <span class="date-created font-bold mr-2">Date Created:</span>
                  <span>{{createdAt | date:'MM/dd/yyyy h:mm a'}}</span>
                </div>
                <div class="modified-by-cont">
                  <span class="modified-by font-bold mr-2">Modified By:</span>
                  <span>{{modifiedBy}}</span>
                </div>
                <div class="date-modified-cont">
                  <span class="date-modified font-bold mr-2">Date Modified:</span>
                  <span>{{dateModified | date:'MM/dd/yyyy h:mm a'}}</span>
                </div>
              </div>
            </div>
        </div>
      </div>
    </form>
  </vex-page-layout-content>
</vex-page-layout>
