
<div class="bg-foreground py-16 px-gutter footer">
  <h2 class="display-1 mt-0 mb-4 text-center">Welcome to FAIS (Fixed Asset Information System)</h2>
  <h3 class="subheading-2 text-hint text-center max-w-3xl mx-auto m-0">
    A system used for tracking and maintaining of physical assets and equipments, a realible way to oversee fixed assets. 
    
    <p>Let's get started by opening the menu on the left side.</p>
  </h3>

  <div class="mt-16 max-w-3xl mx-auto grid grid-cols-1 sm:grid-cols-2 gap-6">
    <div class="text-center p-6 border rounded">
      <mat-icon class="text-hint icon-3xl" svgIcon="mat:trending_up"></mat-icon>
      <h3 class="title mb-0 mt-4">Charts Of Accounts</h3>
      <h4 class="subheading-2 m-0 text-hint">Financial accounts and reference numbers</h4>
    </div>

    <div class="text-center p-6 border rounded">
      <mat-icon class="text-hint icon-3xl" svgIcon="mat:note_alt"></mat-icon>
      <h3 class="title mb-0 mt-4">Pro-forma Entries</h3>
      <h4 class="subheading-2 m-0 text-hint">Summarized journal entry workfile</h4>
    </div>
  </div>
</div>
