<vex-secondary-toolbar [current]="isEditMode ? 'Edit Chart of Accounts' : 'Add Chart of Accounts'">
  <vex-breadcrumbs
    [crumbs]="['System Libraries', 'Chart of Accounts', isEditMode ? 'Edit Chart of Accounts' : 'Add Chart of Accounts']"
    class="flex-auto"></vex-breadcrumbs>
  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon svgIcon="mat:more_vert"></mat-icon>
  </button>
</vex-secondary-toolbar>
<div class="p-gutter container" [class.container]="layoutCtrl.value === 'boxed'"
  [class.px-gutter]="layoutCtrl.value === 'fullwidth'">
  <div class="flex flex-col sm:flex-row gap-4">
    <div class="card flex-auto">
      <div class="px-6 py-4 border-b flex items-center gap-2">
        <button [ngClass]="[form.invalid ?'!bg-gray' : '!bg-green', '!text-contrast-white']" mat-raised-button
          type="button" (click)="save()" [disabled]="form.invalid">

          <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:archive"></mat-icon> Save
        </button>
        <button color="primary" mat-stroked-button type="button" [routerLink]="['/apps/chart-accounts']">
          <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:close"></mat-icon> Close
        </button>
      </div>

      <div class="flex flex-col sm:flex-row gap-6">
        <form [formGroup]="form" fxFlex="100" [style.margin-left.px]="20" [style.marginTop.px]="30"
          [style.margin-right.px]="30">
          <div fxLayout="row" fxLayoutGap="20px">
            <mat-form-field appearance="fill">
              <mat-label>Account Group</mat-label>
              <mat-select formControlName="accountgroup" (selectionChange)="onLibraryTypeSelected($event)">
                <mat-option *ngFor="let libraryType of filteredLibraryTypes" [value]="libraryType.id">
                  {{ libraryType.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>RCA SL</mat-label>
              <input matInput formControlName="rcasl">
            </mat-form-field>
          </div>
   
<!--  filteredOptions for edit  filteredLibraryOptions for add  KUHA YUNG GUSTO PERO PARANG MAY MUCH BETTER?? 
  PASA NG ACCOUNTGROUPID TSAKA SUBACCOUNTGROUPID
          ADD AN NGIF FOR EDIT MODE  -->
          <div fxLayout="row" fxLayoutGap="20px">
            <mat-form-field appearance="fill">
              <mat-label>Sub-Account Group</mat-label>
              <mat-select formControlName="subaccount" >
                <mat-option *ngFor="let libraryTypeOptions of (isEditMode?  filteredOptions : filteredLibraryOptions)" [value]="libraryTypeOptions.id">
                  <!-- <mat-option *ngFor="let libraryTypeOptions of  filteredOptions" [value]="libraryTypeOptions.id"> -->

                  {{ libraryTypeOptions.description }}
                </mat-option>
              </mat-select>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
              <mat-label>RCA GL</mat-label>
              <input matInput formControlName="rcagl">
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <mat-form-field appearance="fill" fxFlex="49.5">
              <mat-label>RCA Ledger Title</mat-label>
              <input matInput formControlName="title">
            </mat-form-field>
          </div>

        </form>
      </div>

      <div class="table-container" [style.margin-top.px]="50">
        <div class="flex flex-row" fxLayoutAlign="end" [style.margin-bottom.px]="10" [style.margin-right.px]="30">
          <button class="rounded-full !bg-green !text-white" mat-raised-button type="button" (click)="addNewRow()">
            <mat-icon svgIcon="mat:add"></mat-icon>
            <span>Add</span>
          </button>
        </div>

        <mat-divider style="margin: 10px 0;"></mat-divider>

        <div class="scrollable-container">
          <div fxLayout="row" fxLayoutAlign="start center" [style.margin-left.px]="30" >
            <wj-flex-grid #salesGrid [itemsSource]="salesData" [selectionMode]="'Row'" >
              <wj-flex-grid-column binding="gl" header="GL"  [width]="400"></wj-flex-grid-column>
              <wj-flex-grid-column binding="sl" header="SL"  [width]="400"></wj-flex-grid-column>
              <wj-flex-grid-column binding="ledgerTitle" header="Ledger Title" [width]="350"></wj-flex-grid-column>
              <wj-flex-grid-column binding="action" header="Action" [width]="330">
                <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                  <button mat-button (click)="onDeleteRow(cell.item)">
                    <mat-icon>close</mat-icon> Delete
                  </button>
                </ng-template>
              </wj-flex-grid-column>

            </wj-flex-grid>
          </div>
        </div>


        <div class="flex flex-row" fxLayoutAlign="end" [style.margin-top.px]="10" [style.margin-right.px]="40">

          <div id="thePager"></div>
          <div id="theGrid"></div>
        </div>
      </div>


      <div class="flex flex-col sm:flex-row sm:gap-4" [style.margin-left.px]="20" [style.margin-top.px]="10"
        [style.margin-bottom.px]="30">
        <div [formGroup]="form">
          <mat-slide-toggle color="accent" labelPosition="before" formControlName="isActive"
            (change)="onToggleStatus($event)">
            {{ statusLabel }}
          </mat-slide-toggle>

          <span [style.margin-left.px]="20"> <strong>Status Date: </strong>{{ statusDate | date: 'MM/dd/yyyy' }}</span>
        </div>
      </div>

      <blockquote fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" [style.marginTop.px]="30"
        *ngIf="isEditMode" [style.margin-left.px]="30" [style.margin-right.px]="30">
        <span fxFlex>
          <strong>Created By</strong>: {{ createdBy }}
        </span>
        <span fxFlex>
          <strong>Date Created</strong>: {{ createdAt | date: 'MM/dd/yyyy hh:mm a' }}
        </span>
        <span fxFlex>
          <strong>Modified By</strong>: {{ updatedBy }}
        </span>
        <span fxFlex>
          <strong>Date Modified</strong>: {{ updatedAt ? (updatedAt | date: 'MM/dd/yyyy hh:mm a') : 'N/A' }}
        </span>
      </blockquote>

    </div>
  </div>
</div>