<vex-secondary-toolbar current="System Settings">
    <vex-breadcrumbs [crumbs]="['System Management', 'System Settings']" class="flex-auto"></vex-breadcrumbs>
    <button class="ml-2" color="primary" mat-icon-button type="button">
        <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>
</vex-secondary-toolbar>
<div [@stagger]="true" class="p-gutter container" [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'">
    <div class="flex flex-col sm:flex-row gap-4">
        <div @fadeInUp class="card flex-auto">
            <div class="px-6 py-4 border-b flex items-center gap-2">
                <button [ngClass]="[form.invalid ? '!bg-gray' : '!bg-green', '!text-contrast-white']" mat-raised-button type="button" 
                    [disabled]="form.invalid" (click)="save()">
                    <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:archive"></mat-icon> Save
                </button>
                <button color="primary" mat-stroked-button type="button" [routerLink]="['/apps/help-center/getting-started']">
                    <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:close"></mat-icon> Close
                </button>
            </div>
            <div class="px-6 py-4 flex flex-col">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                    <form [formGroup]="form" class="flex flex-col flex-auto form-container">
                        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" dynamicHeight class="tabs">
                            <mat-tab label="General">
                                <div class="flex flex-col flex-auto sm:flex-row sm:gap-4" [style.marginTop.px]="20">
                                    <mat-form-field appearance="fill" class="flex-auto">
                                      <mat-label>Company Name</mat-label>
                                      <input matInput formControlName="companyName" required>
                                      <mat-error *ngIf="formControls.companyName.touched && formControls.companyName.invalid">
                                        <span *ngIf="formControls.companyName.getError('required')">
                                          Company name is required
                                        </span>
                                      </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="flex-auto">
                                        <mat-label>Phone Number</mat-label>
                                        <input matInput formControlName="phoneNumber" required>
                                        <mat-error *ngIf="formControls.phoneNumber.touched && formControls.phoneNumber.invalid">
                                            <span *ngIf="formControls.phoneNumber.getError('required')">
                                            Phone number is required
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col flex-auto sm:flex-row sm:gap-4">
                                    <mat-form-field appearance="fill" class="flex-auto">
                                      <mat-label>Email Address</mat-label>
                                      <input matInput formControlName="emailAddress" required>
                                      <mat-error *ngIf="formControls.emailAddress.touched && formControls.emailAddress.invalid">
                                        <span *ngIf="formControls.emailAddress.getError('required')">
                                            Email address is required
                                        </span>
                                      </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="flex-auto">
                                        <mat-label>Website</mat-label>
                                        <input matInput formControlName="website">
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col sm:flex-row sm:gap-4">
                                    <mat-form-field appearance="fill" class="flex-auto">
                                        <mat-label>Address</mat-label>
                                        <input matInput formControlName="address" required>
                                        <mat-error *ngIf="formControls.address.touched && formControls.address.invalid">
                                        <span *ngIf="formControls.address.getError('required')">
                                            Address is required
                                        </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <hr class="w-full my-8">
                                <vex-app-version #appVersion></vex-app-version>
                            </mat-tab>
                            <mat-tab label="Configuration Settings">
                                <div class="flex flex-col flex-auto sm:flex-row sm:gap-4" [style.marginTop.px]="20">
                                    <mat-form-field appearance="fill" class="flex-auto">
                                      <mat-label>Minimum Password Length</mat-label>
                                      <input matInput type="number" formControlName="minPasswordLength" required>
                                      <mat-error *ngIf="formControls.minPasswordLength.touched && formControls.minPasswordLength.invalid">
                                        <span *ngIf="formControls.minPasswordLength.getError('required')">
                                            Minimum password length is required
                                        </span>
                                      </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="flex-auto">
                                        <mat-label>Minimum Special Characters</mat-label>
                                        <input matInput type="number" formControlName="minSpecialCharacters" required>
                                        <mat-error *ngIf="formControls.minSpecialCharacters.touched && formControls.minSpecialCharacters.invalid">
                                            <span *ngIf="formControls.minSpecialCharacters.getError('required')">
                                                Minimum special characters is required
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col flex-auto sm:flex-row sm:gap-4">
                                    <mat-form-field appearance="fill" class="flex-auto">
                                      <mat-label>Password Expiry (<i>days</i>)</mat-label>
                                      <input matInput type="number" formControlName="passwordExpiry" required>
                                      <mat-error *ngIf="formControls.passwordExpiry.touched && formControls.passwordExpiry.invalid">
                                        <span *ngIf="formControls.passwordExpiry.getError('required')">
                                            Password expiry (<i>days</i>) is required
                                        </span>
                                      </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="flex-auto">
                                        <mat-label>Idle Time (<i>in minutes</i>)</mat-label>
                                        <input matInput type="number" formControlName="idleTime" required>
                                        <mat-error *ngIf="formControls.idleTime.touched && formControls.idleTime.invalid">
                                            <span *ngIf="formControls.idleTime.getError('required')">
                                                Idle time (<i>in minutes</i>) is required
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col flex-auto sm:flex-row sm:gap-4">
                                    <mat-form-field appearance="fill" class="flex-auto">
                                      <mat-label>Maximum Signing On Attempts</mat-label>
                                      <input matInput type="number" formControlName="maxSignOnAttempts" required>
                                      <mat-hint>The number of consecutive sign-on or password verification attempts.</mat-hint>
                                      <mat-error *ngIf="formControls.maxSignOnAttempts.touched && formControls.maxSignOnAttempts.invalid">
                                        <span *ngIf="formControls.maxSignOnAttempts.getError('required')">
                                            Maximum signing on attempts is required
                                        </span>
                                      </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="flex-auto">
                                        <mat-label>Enforce Password History</mat-label>
                                            <input matInput type="number" formControlName="enforcePasswordHistory" required>
                                            <mat-hint>The policy setting determines the number of unique new passwords that can be re-used.</mat-hint>
                                        <mat-error *ngIf="formControls.enforcePasswordHistory.touched && formControls.enforcePasswordHistory.invalid">
                                            <span *ngIf="formControls.enforcePasswordHistory.getError('required')">
                                                Enforce password history is required
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col flex-auto sm:flex-row sm:gap-4"></div>
                            </mat-tab>
                            <mat-tab label="Simple Mail Transfer Protocol (SMTP)">
                                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="py-4">
                                    <mat-icon svgIcon="mat:info"></mat-icon>
                                    <p fxFlex>SMTP (<i>Simple Mail Transfer Protocol</i>) server is an application that's primary purpose is to send, receive, and/or relay outgoing mail
                                        between email senders and receivers.</p>
                                </div>
                                <div class="flex flex-col flex-auto sm:flex-row sm:gap-4" [style.marginTop.px]="10">
                                    <mat-form-field appearance="fill" class="flex-auto">
                                        <mat-label>SMTP Server Name</mat-label>
                                        <input matInput formControlName="smtpServerName">
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="flex-auto">
                                        <mat-label>SMTP Port</mat-label>
                                        <input matInput type="number" formControlName="smtpPort">
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col flex-auto sm:flex-row sm:gap-4">
                                    <mat-form-field appearance="fill" class="flex-auto">
                                        <mat-label>SMTP From Email</mat-label>
                                        <input matInput formControlName="smtpFromEmail">
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="flex-auto">
                                        <mat-label>SMTP Password</mat-label>
                                        <input matInput formControlName="smtpPassword">
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col flex-auto sm:flex-row sm:gap-4">
                                    <div class="mb-6">
                                        <div class="flex items-center">
                                            <mat-label>SMTP Enable SSL</mat-label>
                                            <mat-checkbox color="primary" formControlName="smtpEnableSSL"></mat-checkbox>
                                        </div>
                                        <p class="text-gray-700">The primary reason why SSL is used is to keep sensitive information sent across the Internet encrypted so that only the intended
                                            recipient can access it. This is important because the information you send on the Internet is passed from computer to computer to get to the 
                                            destination server.</p>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>