hr{
    border-top: 5px dashed #D8D8D8;
}

::ng-deep .mat-mdc-checkbox.mat-accent .mdc-checkbox--selected ~ .mdc-checkbox__ripple{
    background: #008000!important;
}

::ng-deep .mat-mdc-checkbox.mat-accent{
    --mdc-checkbox-selected-checkmark-color: #008000;
    --mdc-checkbox-selected-focus-icon-color: #ffffff;
    --mdc-checkbox-selected-hover-icon-color: #ffffff;
    --mdc-checkbox-selected-icon-color: #ffffff;
    --mdc-checkbox-selected-pressed-icon-color: #ffffff;
    --mdc-checkbox-unselected-focus-icon-color: #008000;
    --mdc-checkbox-unselected-hover-icon-color: #008000;
}