
<div class="py-4 flex flex-col">
  <div class="sm:col-span-full">
    <h2 class="m-0 title flex-auto">Application Version</h2>
    <p>Manage all the version of your application - track app package and information, new features and release review details.</p>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="py-4">
    <form [formGroup]="form" class="flex flex-col flex-auto form-container">
      <div class="flex flex-col sm:flex-row sm:gap-4">
        <mat-form-field appearance="fill" class="flex-auto">
          <mat-label>Version Number</mat-label>
          <input matInput formControlName="versionNo" required>
          <mat-error *ngIf="formControls.versionNo.touched && formControls.versionNo.invalid">
            <span *ngIf="formControls.versionNo.getError('required')">
              Version number is required
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="flex-auto">
          <mat-label>Version Date</mat-label>
          <input matInput formControlName="versionDate">
          <mat-error *ngIf="formControls.versionDate.touched && formControls.versionDate.invalid">
            <span *ngIf="formControls.versionDate.getError('required')">
              Version date is required
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="flex flex-col sm:flex-row sm:gap-4">
        <mat-form-field appearance="fill" class="flex-auto">
          <mat-label>Amendment</mat-label>
          <input matInput formControlName="amendment">
          <mat-error *ngIf="formControls.amendment.touched && formControls.amendment.invalid">
            <span *ngIf="formControls.amendment.getError('required')">
              Amendment is required
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="flex flex-col sm:flex-row sm:gap-4 mt-2">
        <button *ngIf="hasUpdateAccess" [ngClass]="[form.invalid ? '!bg-gray' : '!bg-green', '!text-contrast-white']" mat-raised-button type="button" 
          [disabled]="form.invalid" (click)="save()">
          <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:add"></mat-icon> Add Version
        </button>
      </div>
    </form>
  </div>
  <div class="v-table py-8">
    <mat-progress-bar *ngIf="isListLoading" mode="indeterminate" color="primary"></mat-progress-bar>
    <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>
      <!-- Text Columns -->
      <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
        <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
          <ng-container *ngIf="column.property === 'versionDate'; else text">
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
              {{ row[column.property] | date: 'MM/dd/yyyy hh:mm a' }}
            </td>
          </ng-container>
          <ng-template #text>
            <td *matCellDef="let row" mat-cell>
              {{ row[column.property] }}
            </td>
          </ng-template>
        </ng-container>
      </ng-container>
  
      <!-- Label Column -->
      <ng-container matColumnDef="labels">
        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Labels</th>
        <td *matCellDef="let row" mat-cell>
          <div (click)="$event.stopPropagation()" class="flex items-center gap-1">
            <div *ngFor="let label of row.labels"
                  [ngClass]="[label.textClass, label.bgClass]"
                  class="rounded px-2 py-1 font-medium text-xs flex-none">
              {{ label.text }}
            </div>
            <div class="text-secondary bg-base text-hint cursor-pointer hover:bg-hover flex-none flex items-center justify-center">
              <mat-icon class="icon-sm" svgIcon="mat:add"></mat-icon>
            </div>
          </div>
        </td>
      </ng-container>
      <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: visibleColumns;" @fadeInUp 
        class="hover:bg-hover trans-ease-out cursor-pointer" mat-row></tr>
    </table>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
      <div *ngIf="totalCount === 0" fxLayout="row" fxLayoutAlign="center center" 
        fxLayoutGap="5px" class="mt-2">
        <mat-icon svgIcon="mat:info"></mat-icon>
        <i fxFlex>No application versions yet added.</i>
      </div>
    </div>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
</div>