<div class="login-container w-full h-full flex flex-col justify-center">
  <div class="flex flex-row">
    <div @fadeInUp class="card form overflow-hidden w-full max-w-md">
      <div class="p-6 pb-0 flex flex-col items-center justify-center">
        <div class="fill-current text-center">
          <img src="assets/img/demo/logo.svg">
        </div>
      </div>
      <div class="text-center mt-4">
        <h2 class="title m-0">LOGIN</h2>
        <p>Please enter your details below to log in.</p>
      </div>
      <div [formGroup]="form" class="p-8 flex flex-col gap-4">
        <div class="flex flex-col">
          <mat-form-field class="flex-1">
            <mat-label>Username</mat-label>
            <input formControlName="username" matInput required>
            <mat-error *ngIf="form.get('username').hasError('required')">
              Username is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="flex-1">
            <mat-label>Password</mat-label>
            <input [type]="inputType" formControlName="password" matInput required>
            <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
              <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
              <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
            </button>
            <mat-hint>Click the eye icon to toggle visibility</mat-hint>
            <mat-error *ngIf="form.get('password').hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="flex items-center justify-between">
          <a [routerLink]="['/forgot-password']" class="caption">Forgot Password?</a>
        </div>
        <button (click)="login()" color="primary" mat-raised-button type="button" [disabled]="form.invalid">
          Login
        </button>
      </div>
    </div>
    <div @fadeInUp class="card slogan overflow-hidden w-full flex items-center">
      <div class="title text-center">
        <h2>Fixed Asset Information System</h2>
        <p>"OWNER OF THE COUNTRY'S TRANSMISSION ASSETS"</p>
      </div>
    </div>
  </div>
</div>
