<vex-secondary-toolbar current="Edit User">
  <vex-breadcrumbs [crumbs]="['System Management', 'Users', 'Edit User']" class="flex-auto"></vex-breadcrumbs>
  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon svgIcon="mat:more_vert"></mat-icon>
  </button>
</vex-secondary-toolbar>
<div [@stagger]="true" class="p-gutter container" [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'">
  <div class="flex flex-col sm:flex-row gap-4">
    <div @fadeInUp class="card flex-auto">
      <div class="px-6 py-4 border-b flex items-center gap-2">
        <button [ngClass]="[true ? '!bg-gray' : '!bg-green', '!text-contrast-white']" mat-raised-button type="button" [disabled]="true" (click)="save()">
          <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:archive"></mat-icon> Save
        </button>
        <button color="primary" mat-stroked-button type="button" [routerLink]="['/apps/help-center/getting-started']">
          <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:close"></mat-icon> Close
        </button>
      </div>
      <div class="px-6 py-4 flex flex-col">
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
          <div fxFlex="20" class="card overflow-hidden">
            <div class="p-4 text-center hover:bg-hover trans-ease-out cursor-pointer relative" matRipple>
              <img [src]="'assets/img/avatars/default.png'" class="avatar h-24 w-24 mx-auto">
              <button color="primary" mat-button type="button" class="my-2">
                <span>Attach Photo</span>
                <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:upload"></mat-icon>
              </button>
              <!-- <div class="body-2 text-secondary flex items-center justify-center">
                <mat-icon class="ltr:mr-1 rtl:ml-1 icon-xs" svgIcon="mat:business"></mat-icon>
                <span>MyBusyBee Inc.</span>
              </div>
              <div class="body-2 text-secondary flex items-center justify-center">
                <mat-icon class="ltr:mr-1 rtl:ml-1 icon-xs" svgIcon="mat:phone"></mat-icon>
                <span>09064925352</span>
              </div> -->
  
              <!-- <button (click)="emitToggleStar($event, contact?.id)" class="absolute top-2 right-2" mat-icon-button type="button">
                <mat-icon *ngIf="contact?.starred" class="text-amber" svgIcon="mat:star"></mat-icon>
                <mat-icon *ngIf="!contact?.starred" svgIcon="mat:star_border"></mat-icon>
              </button> -->
            </div>
          </div>
          <div fxFlex>
            <mat-tab-group>
              <mat-tab label="General">
                <div class="p-6">
                  <p>
                    Material buttons trigger an ink reaction on press. They may display text, imagery, or both. Flat buttons and
                    raised buttons are the most commonly used types.
                    <br>
                    <br><span class="semi-bold">Flat buttons:</span>
                  </p>
                  <ul>
                    <li>Flat buttons are text-only buttons.</li>
                    <li>They may be used in dialogs, toolbars, or inline.</li>
                    <li>They do not lift, but fill with color on press.</li>
                  </ul>
                  <p>
                    <span class="semi-bold">Raised buttons:</span>
                  </p>
                  <ul>
                    <li>Raised buttons are rectangular-shaped buttons.</li>
                    <li>They may be used inline.</li>
                    <li>They lift and display ink reactions on press.</li>
                  </ul>
                </div>
              </mat-tab>
              <mat-tab label="User Roles (7)">
                <div class="p-6">
                  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                    <span fxFlex="5">
                      <mat-icon svgIcon="mat:info"></mat-icon>
                    </span>
                    <p fxFlex>Everyone can have a different role depending on what they need. Assign role(s) to give them access to the system.</p>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>


            <!-- <form [formGroup]="form">
              <mat-form-field appearance="fill">
                <mat-label>Old Password</mat-label>
                <input matInput type="text" formControlName="oldPassword" autocomplete="false" required>
              </mat-form-field>
            </form> -->
            
          </div>
  
        </div>


        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" [style.marginTop.px]="30">
          <!-- <form [formGroup]="form" class="flex flex-col form-container" fxFlex="60"> -->

            <!-- <mat-form-field appearance="fill">
              <mat-label>Old Password</mat-label>
              <input matInput [type]="oldPasswordInputType" formControlName="oldPassword" autocomplete="false" required>
              <button (click)="toggleOldPasswordVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
                <mat-icon *ngIf="isOldPasswordVisible" svgIcon="mat:visibility"></mat-icon>
                <mat-icon *ngIf="!isOldPasswordVisible" svgIcon="mat:visibility_off"></mat-icon>
              </button>
              <mat-error *ngIf="formControls.oldPassword.touched && formControls.oldPassword.invalid">
                <span *ngIf="formControls.oldPassword.getError('required')">
                  Old password is required
                </span>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" >
              <mat-label>New Password</mat-label>
              <input matInput [type]="newPasswordInputType" formControlName="newPassword" autocomplete="false" (keyup)="onValidatePasswordCriteria($event)" required>
              <button (click)="toggleNewPasswordVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
                <mat-icon *ngIf="isNewPasswordVisible" svgIcon="mat:visibility"></mat-icon>
                <mat-icon *ngIf="!isNewPasswordVisible" svgIcon="mat:visibility_off"></mat-icon>
              </button>
              <mat-error *ngIf="formControls.newPassword.touched && formControls.newPassword.invalid">
                <span *ngIf="formControls.newPassword.getError('required')">
                  New password is required
                </span>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" >
              <mat-label>Confirm Password</mat-label>
              <input matInput [type]="confirmPasswordInputType" formControlName="confirmPassword" autocomplete="false" required>
              <button (click)="toggleConfirmPasswordVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
                <mat-icon *ngIf="isConfirmPasswordVisible" svgIcon="mat:visibility"></mat-icon>
                <mat-icon *ngIf="!isConfirmPasswordVisible" svgIcon="mat:visibility_off"></mat-icon>
              </button>
              <mat-error *ngIf="formControls.confirmPassword.touched && formControls.confirmPassword.invalid">
                <span *ngIf="formControls.confirmPassword.getError('required')">
                  Confirm password is required
                </span>
              </mat-error>
            </mat-form-field> -->
          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
</div>
