<div class="flex items-center" mat-dialog-title>
  <h2 class="title m-0 flex-auto">
    <ng-container *ngIf="isEditMode">
      {{ "Edit Report Sequence" }}
    </ng-container>
    <ng-container *ngIf="isViewMode">
      {{ "Report Sequence" }}
    </ng-container>
    <ng-container *ngIf="!isEditMode && !isViewMode">
      {{ "Add Report Sequence" }}
    </ng-container>
  </h2>
  
  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>

<mat-divider class="text-border"></mat-divider>
<mat-progress-bar *ngIf="isSaving" mode="indeterminate" color="primary"></mat-progress-bar>
<mat-dialog-content class="flex flex-col items-center">
  <form [formGroup]="form" class="flex flex-col flex-auto form-container">

    <div class="flex flex-col sm:flex-row sm:gap-4">
      <mat-form-field appearance="fill">
        <mat-label>Report Sequence</mat-label>
        <input matInput  formControlName="id" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>AMR Year and Month</mat-label>
        <input matInput formControlName="amrYm" />
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row sm:gap-4">
      <mat-form-field appearance="fill" class="flex-auto">
        <mat-label>Received by Transco</mat-label>
        <ng-container *ngIf="isViewMode; else addModeTemplate">
          <input matInput formControlName="dateReceivedTransco" />
        </ng-container>
        <ng-template #addModeTemplate>
          <div fxLayout="row" fxLayoutAlign="end center">
            <input matInput [matDatepicker]="picker" formControlName="dateReceivedTransco" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
        </ng-template>
      </mat-form-field>

      <mat-form-field appearance="fill" class="flex-auto">
        <mat-label>Received by Armpmd</mat-label>
        <ng-container *ngIf="isViewMode; else addModeTemplateARMPMD">
          <input matInput formControlName="dateReceivedArmPmd" />
        </ng-container>
        <ng-template #addModeTemplateARMPMD>
          <div fxLayout="row" fxLayoutAlign="end center">
            <input matInput [matDatepicker]="pickerARMPMD" formControlName="dateReceivedArmPmd" />
            <mat-datepicker-toggle matSuffix [for]="pickerARMPMD"></mat-datepicker-toggle>
            <mat-datepicker #pickerARMPMD></mat-datepicker>
          </div>
        </ng-template>
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row sm:gap-4">
      <mat-form-field appearance="fill" class="flex-auto">
        <mat-label>Sent for Encoding</mat-label>
        <ng-container *ngIf="isViewMode; else addModeTemplateEncoding">
          <input matInput formControlName="dateSentEncoding" />
        </ng-container>
        <ng-template #addModeTemplateEncoding>
          <div fxLayout="row" fxLayoutAlign="end center">
            <input matInput [matDatepicker]="pickerEncoding" formControlName="dateSentEncoding" />
            <mat-datepicker-toggle matSuffix [for]="pickerEncoding"></mat-datepicker-toggle>
            <mat-datepicker #pickerEncoding></mat-datepicker>
          </div>
        </ng-template>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Number of Binders</mat-label>
        <input matInput formControlName="noOfBinders" type="number" />
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row sm:gap-4">
      <mat-form-field appearance="fill">
        <mat-label>UDF 1</mat-label>
        <input matInput formControlName="udF1" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>UDF 2</mat-label>
        <input matInput formControlName="udF2" />
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row sm:gap-4">
      <mat-form-field appearance="fill" class="flex-auto">
        <mat-label>UDF 3</mat-label>
        <input matInput formControlName="udF3" />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<div fxLayout="column" fxLayoutAlign="center center">
  <mat-dialog-actions align="end">
    <button *ngIf="!isViewMode" cdkFocusInitial color="primary" mat-button (click)="save()" type="button"
      [ngClass]="[form.invalid || isSaving ? '!bg-gray' : '!bg-green', '!text-contrast-white']" 
      [disabled]="form.invalid || isSaving">
      <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:save_as"></mat-icon>
      Save
    </button>
    <button *ngIf="!isViewMode" mat-button mat-dialog-close type="button" mat-raised-button color="primary">Close</button>
  </mat-dialog-actions>
</div>