.mat-mdc-slide-toggle.mat-accent {
    --mdc-switch-selected-track-color: #008000;
    --mdc-switch-selected-handle-color: #008000;
    --mdc-switch-selected-hover-track-color: #008000;
    --mdc-switch-selected-hover-handle-color: #008000;
    --mdc-switch-selected-pressed-track-color: #008000;
    --mdc-switch-selected-pressed-handle-color: #008000;
    --mdc-switch-selected-focus-track-color: #008000;
    --mdc-switch-selected-focus-handle-color: #008000;
}

.text-center {
    text-align: center;
}