// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import "@angular/material/theming";


@import '/node_modules/@swimlane/ngx-datatable/index.css';
@import '/node_modules/@swimlane/ngx-datatable/themes/material.scss';
@import '/node_modules/@swimlane/ngx-datatable/assets/icons.css';

// SCSS Variables
@import "var";

// Mixins
@import "partials/mixins";

// Fonts
@import "partials/fonts/inter";

// Styles / CSS Variables
@import "partials/styles/style-dark";
@import "partials/styles/style-light";
@import "partials/styles/style-default";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($vex-theme);

// Partials
@import "partials/horizontal";
@import "partials/misc";
@import "partials/vertical";
@import "partials/print";
@import "partials/typography";
@import "partials/plugins/@angular/material/index";
@import "partials/plugins/apexcharts/apexcharts";

// Layouts
@import "partials/layouts/layout-apollo";
@import "partials/layouts/layout-ares";
@import "partials/layouts/layout-hermes";
@import "partials/layouts/layout-ikaros";
@import "partials/layouts/layout-poseidon";
@import "partials/layouts/layout-zeus";
