<!-- Logo  -->
<div class="logo-container">
  <img src="assets/img/demo/logo.svg" alt="Logo">
</div>

<!-- blue rectangle  -->
<div class="rectangle"></div>

<div class="Icon-container" style="padding: 20px;"> 
  <fa-icon [icon]="icon" style="color: #043C79; font-size: 30px;" (click)="redirectToLogin()"></fa-icon>
</div>

<!-- Forgot password section   -->
<ng-container *ngIf="!passwordSent; else sent">
  <!-- Forgot password form here -->
  <div class="Image-container">
    <img [src]="imageUrl" alt="Forgot Password" class="centered-image">
    <div class="text-container">
      <h2>Forgot Password</h2>
      <p>Please enter your email address below</p>
    </div>

    <!-- Form and button -->
    <div [formGroup]="form" class="flex flex-col form-container">
      <mat-form-field appearance="outline">
        <mat-label>Enter your email address</mat-label>
        <input formControlName="email" matInput [disabled]="!aFormGroup.controls.recaptcha.valid" required>

        <mat-icon class="mr-2" matPrefix svgIcon="mat:mail"></mat-icon>
        <mat-error *ngIf="form.get('email').hasError('required')">
          We can't recover your password without your email.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Captcha -->
    <form [formGroup]="aFormGroup">
      <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha"></ngx-recaptcha2>
    </form>

    <!-- Submit button -->
    <button (click)="send($event)" mat-raised-button type="button" color="primary"
      style="background-color: #043C79; height: 60px; font-size: 18px; width: 310px; height: 30px; border-radius:8px; margin-top:20px;"
      [disabled]="!aFormGroup.controls.recaptcha.valid">
      Submit
    </button>

  </div>
</ng-container>

<ng-template #sent>
  <!-- Forgot password successful message here -->
  <div class="success-message">
    <div class="Image-container">
      <img [src]="imageUrl" alt="Reset Password Sent" class="centered-image" style="color:#043C79">
      <div class="text-container">
        <h2>RESET PASSWORD REQUEST SENT</h2>
      </div>
      <p style="color: #555555; padding-top: 40px;">A confirmation link is sent to your registered email. Please reset your password
        <br> using the link. If you have not received it, please contact your administrator.
      </p>
    </div>
  </div>
</ng-template>
