.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding: 20px;
  }
  
  .logo-container img  {
    width: 290px; 
    height: 80px; 
   
  }


  
  .rectangle {

    flex-grow: 1; 
    height: 10px; 
    background-color: #043C79;
    margin-top: 10px; 

}

.Image-container {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    height: 100vh; 
  }
  
  .centered-image {
  width: 100px;
  height: 128px;
  }
  
  .text-container {
    text-align: center; 
    margin-top: 20px; 
  }
  
  .text-container h2 {
    height: 41px;
  
    color:#043C79;
    font-weight: 600;
    font-family: 'Poppins', sans-serif; 
    font-size: 25px;
    
  }
 
  .text-container p {
    margin: 5px 0; 
    font-family:'Roboto', sans-serif; 
    color: #555555;

  }
  

  .text-center {
    text-align: center;
  }
  


  
  