
<div class="logo-container">
  <img src="assets/img/demo/logo.svg" alt="Logo">
</div>
<div class="rectangle"></div>
<div class="back-icon-container"> 
  <fa-icon [icon]="arrowIcon" class="icon" (click)="redirectToLogin()"></fa-icon>
</div>
<ng-container *ngIf="!isPasswordSent; else sent">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" [style.marginTop.px]="50">
    <img fxFlex src="assets/img/icons/forgot-password.png" alt="Forgot Password" class="img-icon">
    <h2 fxFlex class="header-text">Forgot Password</h2>
    <p fxFlex>Please enter your email address below</p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" [style.marginTop.px]="30">
    <form fxFlex [formGroup]="form" class="flex flex-col">
      <mat-form-field appearance="fill" [style.width.px]="400">
        <mat-label>Email Address</mat-label>
        <input matInput type="text" placeholder="Enter your email address here..." formControlName="email" autocomplete="false" required>
        <mat-icon class="mr-2" matPrefix svgIcon="mat:mail"></mat-icon>
        <mat-error *ngIf="formControls.email.touched && formControls.email.invalid">
          <span *ngIf="formControls.email.getError('required')">
            Email address is required
          </span>
          <span *ngIf="formControls.email.getError('pattern')">
            Please enter a valid email address
          </span>
        </mat-error>
      </mat-form-field>
      <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha" class="recaptcha"></ngx-recaptcha2>
      <button color="primary" mat-raised-button type="button" [disabled]="form.invalid" (click)="submit()">Submit</button>
    </form>
  </div>
</ng-container>
<ng-template #sent>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" [style.marginTop.px]="150">
    <img fxFlex src="assets/img/icons/password-sent.png" alt="Reset Password Request Sent" class="img-icon">
    <h2 fxFlex class="header-text">Reset Password Request Sent</h2>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" [style.marginTop.px]="10">
    <p>A confirmation link is sent to your registered email. Please reset your password<br />
      using the link. If you have not received it, please contact your administrator.</p>
  </div>
</ng-template>
