.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding: 20px;
  }
  
  .logo-container img  {
    width: 327px; 
    height: 134px; 
    padding: 30px;
  }

  
  .rectangle {

    flex-grow: 1; 
    height: 20px; 
    background-color: #043C79;
    margin-top: 10px; 
}

.Image-container {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    height: 100vh; 
    padding: 50px;
  }
  
  .text-container {
    text-align: center;
    margin-top: 20px;
  }

  .text-container h2 {
   
    color:#043C79;
    font-weight: 600;
    font-family: 'Poppins', sans-serif; 
    font-size:  35px;
    padding-top: 20px;
  }
 
  

  .password-requirements {
    list-style-type: disc; /* Use bullets for list items */
    margin: 10px 0; 
    padding-left: 20px; 
  }

  .password-requirements li {
    margin-bottom: 5px; 
  }


  .blue-box {
    height: 60px; 
    background-color: #043C79; 
    margin-bottom: 10px; 
    padding-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-box p {
  color: white;
  font-size: 13px;
  padding:30px;
  
}

.check
{
  color:white;
  padding:20px;

}

