
<div class="logo-container">
  <img src="assets/img/demo/logo.svg" alt="Logo">
</div>


<div class="rectangle"></div>

<div class="Image-container">
  <img [src]="imageUrl" alt="Reset Password" class="centered-image custom-image">



  <div class="text-container" style="max-width: 400px; margin: 0 auto;">
 

    <h2>Reset your Password</h2>


    <p style="text-align: left; padding-top: 20px; color: #555555; font-weight: 500; font-size: 18px;">New password must be:</p>


    <div style="display: flex; align-items: center;">

      <ul class="greencheck-list" style="list-style-type: none; margin-right: 10px;">
        <li *ngIf="passwordRequirements().minLength"><fa-icon [icon]="greencheck" class="greencheck fa-2x" style="color:green"></fa-icon></li>
        <li *ngIf="passwordRequirements().hasNumber"><fa-icon [icon]="greencheck" class="greencheck fa-2x" style="color:green"></fa-icon></li>
        <li *ngIf="passwordRequirements().hasLowercase"><fa-icon [icon]="greencheck" class="greencheck fa-2x" style="color:green"></fa-icon></li>
        <li *ngIf="passwordRequirements().hasSpecialCharacter"><fa-icon [icon]="greencheck" class="greencheck fa-2x" style="color:green"></fa-icon></li>
      </ul>
    
    <ul class="password-requirements" style="text-align: left;">
      <li>At least 8 characters long</li>
      <li>At least 1 number</li>
      <li>At least 1 lowercase character</li>
      <li>Minimum of 2 special characters</li>
    </ul>
  </div>

  <div class="forms-container" style="max-width: 400px; margin: 0 auto;">
  
        <div class="blue-box" *ngIf="success && passwordRequirements().minLength && passwordRequirements().hasNumber && passwordRequirements().hasLowercase && passwordRequirements().hasSpecialCharacter">
         
          <p>Your password has been reset successfully. You will be redirected to the login page after 5 seconds.</p>
        </div>
        
    

 
        <form [formGroup]="form"> 
        <mat-form-field class="flex-1" style="width: 100%; font-size: 16px;">
          <mat-label> Password </mat-label>
          <input [type]="inputType" formControlName="password" matInput required style="font-size: 16px;">
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
            <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
            <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
          </button>
     
          <mat-error *ngIf="form.get('password').hasError('required')"> 
            Password is required
          </mat-error>
        </mat-form-field>
        
<mat-form-field class="flex-1" style="width: 100%; font-size: 16px;">
  <mat-label> Confirm Password </mat-label>
  <input [type]="inputType" formControlName="confirmPassword" matInput required style="font-size: 16px;">
  <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
    <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
    <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
  </button>

  <mat-error *ngIf="form.get('confirmPassword').hasError('required')">
    Confirm Password is required
  </mat-error>
  <mat-error *ngIf="form.get('confirmPassword').hasError('passwordMismatch')">
    Passwords do not match
  </mat-error>
</mat-form-field>

      </form>
        <button (click)="send()" mat-raised-button type="button" color="primary" style="background-color: #043C79; height: 60px;border-radius:8px; font-size: 18px; width: 100%; height: 30px;"
        [matTooltip]="success ? 'Password reset successful!' : ''">
        Submit
      </button>
</div>
    

  
</div>
