
<div class="logo-container">
  <img src="assets/img/demo/logo.svg" alt="Logo">
</div>
<div class="rectangle"></div>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" [style.marginTop.px]="50">
  <div fxFlex>
    <img [src]="imageUrl" alt="Reset Password" class="img-icon">
  </div>
  <div fxFlex>
    <h2 class="header-text">Reset Password</h2>
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" [style.marginLeft.px]="-160" 
  [style.marginTop.px]="10">
  <div fxFlex>
   <p>New password must be:</p>
    <ul class="password-criteria">
      <li>At least 8 characters long</li>
      <li>At least 1 number</li>
      <li>At least 1 lowercase character</li>
      <li>Minimum of 2 special characters</li>
    </ul>
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" [style.marginTop.px]="50">
  <form [formGroup]="form" class="flex flex-col form-container">
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="passwordInputType" formControlName="password" autocomplete="false" required>
      <button (click)="togglePasswordVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
        <mat-icon *ngIf="isPasswordVisible" svgIcon="mat:visibility"></mat-icon>
        <mat-icon *ngIf="!isPasswordVisible" svgIcon="mat:visibility_off"></mat-icon>
      </button>
      <mat-error *ngIf="formControls.password.touched && formControls.password.invalid">
        <span *ngIf="formControls.password.getError('required')">
          Password is required
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput [type]="confirmPasswordInputType" formControlName="confirmPassword" autocomplete="false" required>
      <button (click)="toggleConfirmPasswordVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
        <mat-icon *ngIf="isConfirmPasswordVisible" svgIcon="mat:visibility"></mat-icon>
        <mat-icon *ngIf="!isConfirmPasswordVisible" svgIcon="mat:visibility_off"></mat-icon>
      </button>
      <mat-error *ngIf="formControls.confirmPassword.touched && formControls.confirmPassword.invalid">
        <span *ngIf="formControls.confirmPassword.getError('required')">
          Confirm password is required
        </span>
      </mat-error>
    </mat-form-field>
    <button color="primary" mat-raised-button type="button" [disabled]="form.invalid" (click)="submit()">Submit</button>
  </form>
</div>
