
<div class="logo-container">
  <img src="assets/img/demo/logo.svg" alt="Logo">
</div>
<div class="rectangle"></div>
<ng-container *ngIf="!isPasswordReset; else reset">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" [style.marginTop.px]="100">
    <img fxFlex src="assets/img/icons/reset-password.png" alt="Reset Password" class="img-icon">
    <h2 fxFlex class="header-text">Reset Password</h2>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" [style.marginLeft.px]="-160" 
    [style.marginTop.px]="10">
    <div fxFlex>
     <p>New password must be:</p>
      <ul class="password-criteria">
        <li [ngClass]="{'strikethrough': hasMinPasswordLength}">At least {{ minPasswordLength }} characters long</li>
        <li [ngClass]="{'strikethrough': hasAtLeastOneNumber}">At least 1 number</li>
        <li [ngClass]="{'strikethrough': hasAtLeastOneLowercaseChar}">At least 1 lowercase character</li>
        <li [ngClass]="{'strikethrough': hasMinSpecialCharacters}">Minimum of {{ minSpecialCharacters }} special characters</li>
      </ul>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" [style.marginTop.px]="30">
    <form [formGroup]="form" class="flex flex-col form-container">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="passwordInputType" formControlName="password" autocomplete="false" (keyup)="onValidatePasswordCriteria($event)" 
          required>
        <button (click)="togglePasswordVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
          <mat-icon *ngIf="isPasswordVisible" svgIcon="mat:visibility"></mat-icon>
          <mat-icon *ngIf="!isPasswordVisible" svgIcon="mat:visibility_off"></mat-icon>
        </button>
        <mat-error *ngIf="formControls.password.touched && formControls.password.invalid">
          <span *ngIf="formControls.password.getError('required')">
            Password is required
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="confirmPasswordInputType" formControlName="confirmPassword" autocomplete="false" required>
        <button (click)="toggleConfirmPasswordVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
          <mat-icon *ngIf="isConfirmPasswordVisible" svgIcon="mat:visibility"></mat-icon>
          <mat-icon *ngIf="!isConfirmPasswordVisible" svgIcon="mat:visibility_off"></mat-icon>
        </button>
        <mat-error *ngIf="formControls.confirmPassword.touched && formControls.confirmPassword.invalid">
          <span *ngIf="formControls.confirmPassword.getError('required')">
            Confirm password is required
          </span>
        </mat-error>
      </mat-form-field>
      <button color="primary" mat-raised-button type="button" [disabled]="!hasMinPasswordLength || !hasAtLeastOneNumber || !hasAtLeastOneLowercaseChar || !hasMinSpecialCharacters" 
        (click)="submit()">Submit</button>
    </form>
  </div>  
</ng-container>
<ng-template #reset>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" [style.marginTop.px]="150">
    <img fxFlex src="assets/img/icons/reset-password.png" alt="Reset Password Request Sent" class="img-icon">
    <h2 fxFlex class="header-text">Reset Password Successful</h2>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" [style.marginTop.px]="10">
    <p fxFlex>Your password has been reset successfully. You will be redirected to login page after 5 seconds...</p>
  </div>
</ng-template>


