.change-pass-cont{
  margin: 30px 0;
}

.breadcrumb .change-pass-title{
  margin: 10px 50px;
  color: #043B7B;
  font-size: large;
}

.btn-opt {
  background-color: #f1f1f1;
  margin: 15px 50px;
  padding: 10px;
  color: #ffffff;
}

.btn-opt button > *{
  margin: auto 5px;
}

.save{
  background-color: green;
  padding: 7px 15px;
  border-radius: 5px;
  margin-right: 8px;
}

.close{
  background-color: blue;
  padding: 7px 15px;
  border-radius: 5px;
  margin-left: 8px;
}

.validation-msg, .pass-fields{
  margin: 50px;
}

.val-msg-title{
  font-size: large;
}

.val-msg-note{
  margin-top: 15px;
}

.val-msg-note li{
  list-style: disc;
  margin-left: 40px;
}

// .form-input input{
//     border: 1px solid #7D7C7C;
//     border-radius: 5px;
//     margin-top: 5px;
// }