.change-pass-cont{
  margin: 30px 0;
}

.breadcrumb .change-pass-title{
  margin: 10px 50px;
  color: #043B7B;
  font-size: large;
  font-weight: 500;
}

.btn-opt {
  background-color: #f1f1f1;
  margin: 15px 50px;
  padding: 10px;
  color: #ffffff;
}

.btn-opt button > *{
  margin: auto 5px;
}

.save{
  background-color: green;
  padding: 7px 15px;
  border-radius: 5px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.close{
  background-color: blue;
  padding: 7px 15px;
  border-radius: 5px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.validation-msg, .pass-fields{
  margin: 50px;
}

.val-msg-title{
  font-size: large;
}

.val-msg-note{
  margin-top: 15px;
}

.val-msg-note li{
  list-style: disc;
  margin-left: 40px;
}

.eye-icon{
  margin-right: 10px;
  transform: rotate(90deg) scaleX(-1);
}

.pass-cont{
  width: 100%;
}

.pass-cont label{
  margin: 10px 0;
}

mat-form-field {
  width: 40%;
}

.req-hint{
  color: #ff0000;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: red !important;
}