<div class="breadcrumb">
  <div class="change-pass-cont flex">
      <div class="change-pass-title">
          <span>Change Password</span>
      </div>
  </div>

  <div class="options">
      <div class="btn-opt">
          <button class="text-white save" form="changePasswordForm" [disabled]="changePasswordForm.invalid"><fa-icon [icon]="folderSave" style="color: #fff;"></fa-icon>Save</button>
          <button class="text-white close"><fa-icon [icon]="close" style="color: #fff;"></fa-icon>Close</button>
      </div>
  </div>
</div>

<div class="validation-msg">
  <div class="val-msg-title">New password must be:</div>
  <ul class="val-msg-note">
    <li>At least 8 characters long</li>
    <li>At least 1 number</li>
    <li>At least 1 lower case character</li>
    <li>At least 1 upper case character</li>
    <li>Mininum of 2 special character(s)</li>
  </ul>
</div>

<div class="pass-fields">
  <form class="form-input" id="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center start">
   <div class="old-pass pass-cont" fxLayout="column">
    <label>Old Password <span class="req-hint">*</span></label>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput type="password" [type]="hideOldPass ? 'password':'text'" [pattern]="regex" formControlName="oldPass" required>
      <fa-icon class="eye-icon" (click)="hideOldPass = !hideOldPass" [icon]="hideOldPass ? eyeOpen : eyeClose" matSuffix></fa-icon>
    </mat-form-field>
   </div>

   <div class="new-pass pass-cont" fxLayout="column">
    <label>New Password <span class="req-hint">*</span></label>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput type="password" [type]="hideNewPass ? 'password':'text'" [pattern]="regex" formControlName="newPass" required>
      <fa-icon class="eye-icon" (click)="hideNewPass = !hideNewPass" [icon]="hideNewPass ? eyeOpen : eyeClose" matSuffix></fa-icon>
    </mat-form-field>
   </div>

   <div class="conf-pass pass-cont" fxLayout="column">
    <label>Confirm Password <span class="req-hint">*</span></label>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput type="password" [type]="hideConfPass ? 'password':'text'" [pattern]="regex" formControlName="confPass" required>
      <fa-icon class="eye-icon" (click)="hideConfPass = !hideConfPass" [icon]="hideConfPass ? eyeOpen : eyeClose" matSuffix></fa-icon>
    </mat-form-field>
   </div>
  </form>
</div>