<div class="breadcrumb">
  <div class="change-pass-cont flex">
      <div class="change-pass-title">
          <span>Change Password</span>
      </div>
  </div>

  <div class="options">
      <div class="btn-opt">
          <button class="text-white save" ><fa-icon [icon]="folderSave" style="color: #fff;"></fa-icon>Save</button>
          <button class="text-white close"><fa-icon [icon]="close" style="color: #fff;"></fa-icon>Close</button>
      </div>
  </div>
</div>

<div class="validation-msg">
  <div class="val-msg-title">New password must be:</div>
  <ul class="val-msg-note">
    <li>At least 8 characters long</li>
    <li>At least 1 number</li>
    <li>At least 1 lower case character</li>
    <li>At least 1 upper case character</li>
    <li>Mininum of 2 special character(s)</li>
  </ul>
</div>

<div class="pass-fields">
  <div class="form-input" fxLayout="column" fxLayoutAlign="center start">
    <!-- <mat-form-field class="example-full-width"> -->
      <mat-label>Old Password <span>*</span></mat-label>
      <input matInput type="password" [type]="hide ? 'password':'text'">
      <fa-icon (click)="hide = !hide" [icon]="hide ? eyeOpen : eyeClose"></fa-icon>
    <!-- </mat-form-field> -->
  </div>
</div>