<vex-secondary-toolbar current="Change Password">
  <vex-breadcrumbs [crumbs]="['Change Password']" class="flex-auto"></vex-breadcrumbs>
  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon svgIcon="mat:more_vert"></mat-icon>
  </button>
</vex-secondary-toolbar>
<div [@stagger]="true" class="p-gutter container" [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'">
  <div class="flex flex-col sm:flex-row gap-4">
    <div @fadeInUp class="card flex-auto">
      <div class="px-6 py-4 border-b flex items-center gap-2">
        <button [ngClass]="[isValidPasswordCriteria ? '!bg-gray' : '!bg-green', '!text-contrast-white']" mat-raised-button type="button" [disabled]="isValidPasswordCriteria" (click)="save()">
          <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:archive"></mat-icon> Save
        </button>
        <button color="primary" mat-stroked-button type="button" [routerLink]="['/apps/help-center/getting-started']">
          <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:close"></mat-icon> Close
        </button>
      </div>
      <div class="px-6 py-4 flex flex-col">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" [style.marginTop.px]="10">
          <div fxFlex>
            <p>New password must be:</p>
            <ul class="password-criteria">
              <li [ngClass]="{'strikethrough': hasMinPasswordLength}">At least {{ minPasswordLength }} characters long</li>
              <li [ngClass]="{'strikethrough': hasAtLeastOneNumber}">At least 1 number</li>
              <li [ngClass]="{'strikethrough': hasAtLeastOneLowercaseChar}">At least 1 lower case character</li>
              <li [ngClass]="{'strikethrough': hasAtLeastOneUppercaseChar}">At least 1 upper case character</li>
              <li [ngClass]="{'strikethrough': hasMinSpecialCharacters}">Minimum of {{ minSpecialCharacters }} special character(s)</li>
            </ul>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" [style.marginTop.px]="30">
          <form [formGroup]="form" class="flex flex-col form-container" fxFlex="60">
            <mat-form-field appearance="fill" >
              <mat-label>Old Password</mat-label>
              <input matInput [type]="oldPasswordInputType" formControlName="oldPassword" autocomplete="false" required>
              <button (click)="toggleOldPasswordVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
                <mat-icon *ngIf="isOldPasswordVisible" svgIcon="mat:visibility"></mat-icon>
                <mat-icon *ngIf="!isOldPasswordVisible" svgIcon="mat:visibility_off"></mat-icon>
              </button>
              <mat-error *ngIf="formControls.oldPassword.touched && formControls.oldPassword.invalid">
                <span *ngIf="formControls.oldPassword.getError('required')">
                  Old password is required
                </span>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" >
              <mat-label>New Password</mat-label>
              <input matInput [type]="newPasswordInputType" formControlName="newPassword" autocomplete="false" (keyup)="onValidatePasswordCriteria($event)" required>
              <button (click)="toggleNewPasswordVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
                <mat-icon *ngIf="isNewPasswordVisible" svgIcon="mat:visibility"></mat-icon>
                <mat-icon *ngIf="!isNewPasswordVisible" svgIcon="mat:visibility_off"></mat-icon>
              </button>
              <mat-error *ngIf="formControls.newPassword.touched && formControls.newPassword.invalid">
                <span *ngIf="formControls.newPassword.getError('required')">
                  New password is required
                </span>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" >
              <mat-label>Confirm Password</mat-label>
              <input matInput [type]="confirmPasswordInputType" formControlName="confirmPassword" autocomplete="false" required>
              <button (click)="toggleConfirmPasswordVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
                <mat-icon *ngIf="isConfirmPasswordVisible" svgIcon="mat:visibility"></mat-icon>
                <mat-icon *ngIf="!isConfirmPasswordVisible" svgIcon="mat:visibility_off"></mat-icon>
              </button>
              <mat-error *ngIf="formControls.confirmPassword.touched && formControls.confirmPassword.invalid">
                <span *ngIf="formControls.confirmPassword.getError('required')">
                  Confirm password is required
                </span>
              </mat-error>
            </mat-form-field>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
