<vex-page-layout @stagger>
  <vex-secondary-toolbar>
    <vex-breadcrumbs [crumbs]="['System Management', 'Roles', 'Edit Role']"></vex-breadcrumbs>
  </vex-secondary-toolbar>
  
  <vex-page-layout-content class="container">
    <form id="roleField" [formGroup]="roleField" (ngSubmit)="onSubmit()">
    <div class="card flex flex-col sm:flex-row">
      <div class="border-l flex-auto">
        <div class="bg-base border-l-3 p-4 mt-3 flex flex-col sm:flex-row gap-3 items-center">
          <button class="rounded-full" class="!bg-green !text-white" mat-raised-button type="submit" form="roleField">
            <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:save_as"></mat-icon>
            <span>Save</span>
          </button>
          <button class="rounded-full" color="primary" mat-raised-button type="button">
            <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:close"></mat-icon>
            <span>Close</span>
          </button>
        </div>
        <div class="px-6 py-4 flex flex-col">
          <mat-form-field appearance="fill" class="max-w-[60%]">
            <mat-label>Role Name</mat-label>
            <input matInput formControlName="roleName" required>
          </mat-form-field>
          <mat-form-field appearance="fill" class="max-w-[60%]">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="roleDesc" required></textarea>
          </mat-form-field>
          <div class="is-active flex gap-3">
            <span>Active</span><mat-slide-toggle color="accent" formControlName="isActive" matInput></mat-slide-toggle>
          </div>
          <hr>
        </div>
          <div class="px-6 py-4 flex flex-col">
            <div class="flex flex-col">
              <div class="flex flex-row justify-between">
                <h1 class="text-lg">Manage Permissions (3)</h1>
                <button class="add-version-btn flex items-center !bg-green !text-white rounded-full" (click)="addModuleBtn()" mat-raised-button type="button">
                  <mat-icon svgIcon="mat:add"></mat-icon>
                  <span>Add Module</span>
                </button>
              </div>
              <div class="py-6">
                <span class="note">Set module permissions that has access to this role.</span>
              </div>
            </div>
            <div class="module-table py-8">
              
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

              <!-- <div formArrayName="permisssions">
                <div formGroupName="0"> -->
                  <ng-container matColumnDef="module-name">
                    <th mat-header-cell *matHeaderCellDef>Module Name</th>
                    <td mat-cell *matCellDef="let element">{{element.get('name').value}}</td>
                    </ng-container>
      
                    <ng-container matColumnDef="create">
                    <th mat-header-cell *matHeaderCellDef>Create</th>
                    <td mat-cell *matCellDef="let element"><mat-checkbox color="accent" [formControl]="element.get('create')"></mat-checkbox> </td>
                    </ng-container>
      
                    <ng-container matColumnDef="read">
                    <th mat-header-cell *matHeaderCellDef>Read</th>
                    <td mat-cell *matCellDef="let element"> <mat-checkbox color="accent" [formControl]="element.get('read')"></mat-checkbox> </td>
                    </ng-container>
      
                    <ng-container matColumnDef="update">
                    <th mat-header-cell *matHeaderCellDef>Update</th>
                    <td mat-cell *matCellDef="let element"><mat-checkbox color="accent" [formControl]="element.get('update')"></mat-checkbox> </td>
                    </ng-container>
                <!-- </div>
              </div> -->

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                  <button type="button" (click)="removeModule(element.get('moduleId'))">
                    <mat-icon svgIcon="mat:delete"></mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <div class="module-footer my-8 flex flex-row justify-around items-center">
              <div class="created-by-cont">
                <span class="created-by font-bold mr-2">Created By:</span>
                <span>Super Admin</span>
              </div>
              <div class="date-created-cont">
                <span class="date-created font-bold mr-2">Date Created:</span>
                <span>07/19/2023 10:15 AM</span>
              </div>
              <div class="modified-by-cont">
                <span class="modified-by font-bold mr-2">Modified By:</span>
                <span>Elizabeth M. Terrell</span>
              </div>
              <div class="date-modified-cont">
                <span class="date-modified font-bold mr-2">Date Modified:</span>
                <span>07/19/2023 10:15 AM</span>
              </div>
            </div>
          </div>
      </div>
    </div>
  </form>
  </vex-page-layout-content>
</vex-page-layout>
