<vex-page-layout @stagger>
  <vex-secondary-toolbar>
    <vex-breadcrumbs [crumbs]="['System Management', 'Roles', 'Edit Role']"></vex-breadcrumbs>
  </vex-secondary-toolbar>
  
  <vex-page-layout-content class="container">
    <form id="roleField" [formGroup]="roleField" (ngSubmit)="onSubmit()">
    <div class="card flex flex-col sm:flex-row">
      <div class="border-l flex-auto">
        <div class="bg-base border-l-3 p-4 mt-3 flex flex-col sm:flex-row gap-3 items-center">
          <button class="rounded-full" class="!bg-green !text-white" mat-raised-button type="submit" form="roleField">
            <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:save_as"></mat-icon>
            <span>Save</span>
          </button>
          <button class="rounded-full" (click)="close()" color="primary" mat-raised-button type="button">
            <mat-icon class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" svgIcon="mat:close"></mat-icon>
            <span>Close</span>
          </button>
        </div>
        <div class="px-6 py-4 flex flex-col">
          <mat-form-field appearance="fill" class="max-w-[60%]">
            <mat-label>Role Name</mat-label>
            <input matInput formControlName="roleName" [(ngModel)]="roleName" required >
          </mat-form-field>
          <mat-form-field appearance="fill" class="max-w-[60%]">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="roleDesc" [(ngModel)]="roleDescription" required></textarea>
          </mat-form-field>
          <div class="is-active flex gap-3">
            <span>Active</span><mat-slide-toggle color="accent" formControlName="isActive" [(ngModel)]="isActive" matInput></mat-slide-toggle>
          </div>
          <hr>
        </div>
          <div class="px-6 py-4 flex flex-col">
            <div class="flex flex-col">
              <div class="flex flex-row justify-between">
                <h1 class="text-lg">Manage Permissions ({{roleField.get('permissions')['controls'].length}})</h1>
                <button class="add-version-btn flex items-center !bg-green !text-white rounded-full" (click)="addModuleBtn()" mat-raised-button type="button">
                  <mat-icon svgIcon="mat:add"></mat-icon>
                  <span>Add Module</span>
                </button>
              </div>
              <div class="py-6">
                <span class="note">Set module permissions that has access to this role.</span>
              </div>
            </div>
            <div class="module-table py-4">
              <table *ngIf="roleField.get('permissions')['controls'].length>0" class="w-full text-sm text-left rtl:text-right">
                <thead class="text-gray-700 font-medium">
                    <tr>
                        <th class="px-6 py-3">Module Name</th>
                        <th class="px-6 py-3">Create</th>
                        <th class="px-6 py-3">Read</th>
                        <th class="px-6 py-3">Update</th>
                        <th class="px-6 py-3">Action</th>
                    </tr>
                </thead>
                <tbody>
                  <ng-template ngFor let-module let-i="index" [ngForOf]="roleField.get('permissions')['controls']">
                    <tr>
                      <th class="px-6 py-3 font-medium"><input type="text" class="bg-transparent" onfocus="this.blur()" readonly="readonly" [formControl]="module.get('name')"></th>
                      <td class="px-6 py-3"><mat-checkbox color="accent" [formControl]="module.get('create')"></mat-checkbox></td>
                      <td class="px-6 py-3"><mat-checkbox color="accent" [formControl]="module.get('read')"></mat-checkbox></td>
                      <td class="px-6 py-3"><mat-checkbox color="accent" [formControl]="module.get('update')"></mat-checkbox></td>
                      <td class="px-6 py-3">
                          <button type="button" class="ml-2" (click)="removeModule(i)">
                            <mat-icon svgIcon="mat:delete"></mat-icon>
                          </button>
                      </td>
                    </tr>
                  </ng-template>
                </tbody>
            </table>
            <div *ngIf="roleField.get('permissions')['controls'].length===0">
              <span class="flex justify-center my-4">No data available in table</span>
            </div>
            </div>
            <div class="module-footer my-8 flex flex-row justify-around items-center">
              <div class="created-by-cont">
                <span class="created-by font-bold mr-2">Created By:</span>
                <span>{{createdBy}}</span>
              </div>
              <div class="date-created-cont">
                <span class="date-created font-bold mr-2">Date Created:</span>
                <span>{{createdAt | date:'MM/dd/yyyy h:mm a'}}</span>
              </div>
              <div class="modified-by-cont">
                <span class="modified-by font-bold mr-2">Modified By:</span>
                <span>{{modifiedBy}}</span>
              </div>
              <div class="date-modified-cont">
                <span class="date-modified font-bold mr-2">Date Modified:</span>
                <span>{{dateModified | date:'MM/dd/yyyy h:mm a'}}</span>
              </div>
            </div>
          </div>
      </div>
    </div>
  </form>
  </vex-page-layout-content>
</vex-page-layout>
