<h2 mat-dialog-title class="p-4">{{inputData.title}}</h2>
<hr>
<div mat-dialog-content>
  <div class="search-area flex justify-end items-center content-center">
    <h3 class="mr-4 text-neutral-900">Search</h3>
    <mat-form-field appearance="outline" class="mt-5 flex justify-center">
      <input matInput type="text" placeholder="Search module here" (keyup)="applyFilter($event)">
      <button type="button" matSuffix class="search-btn !text-black p-3">
        <mat-icon svgIcon="mat:search"></mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="module-tbl">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
      <ng-container matColumnDef="module-name">
        <th mat-header-cell *matHeaderCellDef class="font-semibold">Module Name</th>
        <td mat-cell *matCellDef="let element" class="mt-4">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="mr-14 font-semibold"> Action </th>
        <td mat-cell *matCellDef="let element" class="mr-8">
          <button class="flex items-center rounded-full mt-2" [ngClass]="[element.isAdded || moduleExist(element) ?'!text-green !bg-transparent':'!bg-green !text-white']" [disabled]="element.isAdded || moduleExist(element)" (click)="addModule(element)" mat-raised-button type="button">
            <mat-icon *ngIf="!element.isAdded && !moduleExist(element)" svgIcon="mat:add"></mat-icon>
            <span [ngClass]="element.isAdded || moduleExist(element) ?'italic':''">{{element.isAdded || moduleExist(element) ? 'Added' : 'Add'}}</span>  
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="flex justify-between"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="flex justify-between"></tr>
    </table>
  </div>
</div>
<div mat-dialog-actions class="flex justify-end mx-5">
  <button class="flex items-center !bg-blue-950 !text-white rounded-full" (click)="closeDialog()" mat-raised-button type="button">
    <mat-icon svgIcon="mat:close"></mat-icon>
    <span>Close</span>  
  </button>
</div>