<div class="p-4">
  <h1 class="text-lg" mat-dialog-title>{{ data.dialogHeader }}</h1>
  <mat-divider class="text-border"></mat-divider>
  <div mat-dialog-content class="flex flex-col">
    <div fxLayout="row" class="py-4" fxLayoutAlign="center center" fxLayoutGap="15px">
      <span fxFlex="5">
        <mat-icon svgIcon="mat:info"></mat-icon>
      </span>
      <p fxFlex>{{ data.dialogContent }}</p>
    </div>
  </div>
  <div mat-dialog-actions class="flex gap-3">
    <button mat-button (click)="handleDialogSubmit()" mat-raised-button class="rounded-full !bg-green !text-white" >
      <mat-icon svgIcon="mat:check"></mat-icon>
      <span>{{ data.confirmButtonLabel }}</span>
    </button>
    <button mat-button cdkFocusInitial (click)="closeDialog()" mat-raised-button color="primary">
      <mat-icon svgIcon="mat:close"></mat-icon>
      {{ data.cancelButtonLabel }}
    </button>
  </div>
</div>